<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim">
        <form class="layui-form layui-form-pane">
        	<input type="hidden" id="deleteFlag" name="deleteFlag" value="0">
        	<table style="width: 100%;">
        		<tr height="60px;">
        			<td>
        				  <label class="layui-form-label">
			                  <span class="x-red">*</span>传感器设备
			              </label>
			              <div class="layui-input-block" style="width: 53%">
			                  <select name="deviceid">
			                      <option th:each="sensorDevice : ${sensorDevices}" th:value="${sensorDevice.deviceid}" th:text="${sensorDevice.devicename}"></option>
			                  </select>
			              </div>
        			</td>
        			<td>
        				  <label class="layui-form-label">温度(℃)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="temperature" name="temperature" class="layui-input">
			              </div>	
        			</td>
        		</tr>
        		<tr height="60px;">
        			<td>
        				  <label class="layui-form-label">湿度(％RH)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="humidity" name="humidity" class="layui-input">
			              </div>
        			</td>
        			<td>
	        			<label class="layui-form-label">压力(kg)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="pressure" name="pressure" class="layui-input">
			              </div>
		            </td>
        		</tr>
        		<tr height="60px;">
        			<td>
	        			<label class="layui-form-label">海拔高度(m)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="altitude" name="altitude" class="layui-input">
			              </div>
        			</td>
        			<td>
        				<label class="layui-form-label">火灾报警值(%)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="fire" name="fire" class="layui-input">
			              </div>
        			</td>
        		</tr>
        		<tr height="60px;">
        			<td>
        				<label class="layui-form-label">气体泄露报警值(ppm)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="gas" name="gas" class="layui-input">
			              </div>
        			</td>
        			<td>
	        			<label class="layui-form-label">经度(°)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="longitude" name="longitude" class="layui-input">
			              </div>
        			</td>
        		</tr>
        		<tr height="60px;">
        			<td colspan="2">
        				<label class="layui-form-label">纬度(°)</label>
			              <div class="layui-input-inline" >
			                  <input type="text" id="latitude" name="latitude" class="layui-input">
			              </div>
        			</td>
        		</tr>
        	</table>
		  <button id="submitForm" style="display: none;" lay-filter="saveSensorDeviceRecord" lay-submit=""></button>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
          form.on('submit(saveSensorDeviceRecord)', function(data){
              AjaxHttpRequest("/saveSensorDeviceRecord",data.field);
              return false;
          });
        });
    </script>
  </body>

</html>