<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim">
        <form class="layui-form layui-form-pane">
        	<table style="width: 100%;">
        		<tr height="50px;">
        			<td>
        				  <label class="layui-form-label"> 仓库名称</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" th:value="${mstD003Warehouse.warehouseName}"  class="layui-input layui-disabled">
			              </div>
        			</td>
        			<td>
        				  <label class="layui-form-label">仓库管理员</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" th:value="${mstD003Warehouse.warehouseOwner}"  class="layui-input layui-disabled">
			              </div>	
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td>
        				  <label class="layui-form-label">仓库面积</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" th:value="${mstD003Warehouse.warehouseArea}"  class="layui-input layui-disabled">
			              </div>
        			</td>
        			<td>
	        			<label class="layui-form-label">邮政编号</label>
			            <div class="layui-input-inline" style="width: 65%;">
			                <input type="text" th:value="${mstD003Warehouse.postcode}"  class="layui-input layui-disabled">
			            </div>
		            </td>
        		</tr>
        		<tr height="50px;">
        			<td>
	        			<label class="layui-form-label">联系电话</label>
					    <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" th:value="${mstD003Warehouse.warehouseTelNo}" class="layui-input layui-disabled">
			            </div>
        			</td>
        			<td>
        				<label class="layui-form-label">货架管理</label>
					    <div class="layui-input-inline">
			                  <input type="checkbox" lay-text="是|否" disabled="disabled" th:checked="${mstD003Warehouse.shelfMang}==0" value="0" lay-skin="switch" class="layui-input">
			             </div>
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td>
        				<label class="layui-form-label">货架数量</label>
			            <div class="layui-input-inline" style="width: 65%;">
			                <input type="text" th:value="${mstD003Warehouse.shelfNum}"  class="layui-input layui-disabled">
			            </div>
        			</td>
        			<td>
	        			<label class="layui-form-label">所属单位</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" th:value="${mstD003Warehouse.plantName}"  class="layui-input layui-disabled">
			              </div>
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td colspan="2">
			            <label class="layui-form-label">仓库地址</label>
			            <div class="layui-input-block">
			            	<textarea th:text="${mstD003Warehouse.warehouseAddress}" class="layui-textarea layui-disabled"></textarea>
			            </div>
					</td>
        		</tr>
        		<tr height="50px;">
        			<td colspan="2">
			            <label class="layui-form-label">运转状态</label>
					    <div class="layui-input-inline">
			                  <input type="checkbox" lay-text="正常|停用" disabled="disabled" th:checked="${mstD003Warehouse.enableFlag}==0" lay-skin="switch" class="layui-input">
			             </div>  
					</td>
        		</tr>
        	</table>
        	<fieldset class="layui-elem-field layui-field-title" style="width: 100%">
				<legend>仓库货架</legend>
				<div class="layui-field-box">
					<table class="layui-table" id="shelf" lay-data="{height:'200',page:{theme: '#11998e',prev:'上一页', next:'下一页'}}" th:if="${not #lists.isEmpty(shelfList)}">
						<thead>
							<tr>
								<th lay-data="{field:'index',width:'12%',align:'center',sort: true}">序号</th>
								<th lay-data="{field:'shelfCode'}">货架编号</th>
								<th lay-data="{field:'shelfName'}">货架名称</th>
								<th lay-data="{field:'shelfTypeName'}">货架类型</th>
								<th lay-data="{field:'deleteFlag',align:'center'}">运转状态</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="shelf,iterStat: ${shelfList}">
								<td th:text="${iterStat.index+1}"></td>
								<td th:text="${shelf.shelfCode}"></td>
								<td th:text="${shelf.shelfName}"></td>
								<td th:text="${shelf.shelfTypeName}"></td>
								<td>
									<span class="layui-btn layui-btn-xs" th:if="${shelf.deleteFlag}==0" th:text="正常"></span>
									<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${shelf.deleteFlag}==1" th:text="停用"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="layui-table" id="no_shelf" th:if="${#lists.isEmpty(shelfList)}">
						<tbody>
							<tr>
								<td colspan="4" style="font-size:18px;background-color: #fff;font-weight: bold;color:#0d67b0;text-align: center;">暂无记录</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
      </form>
    </div>
	<script type="text/javascript">
	    layui.use('table', function(){
			  var table = layui.table;
			});
    </script>
  </body>

</html>