<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim">
        <form class="layui-form layui-form-pane">
        	<input type="hidden" id="locationCode" name="locationCode" th:value="${mstD003Warehouse.locationCode}">
        	<input type="hidden" id="enableFlag" name="enableFlag" th:value="${mstD003Warehouse.enableFlag}">
        	<input type="hidden" id="shelfMang" name="shelfMang" th:value="${mstD003Warehouse.shelfMang}">
        	<table style="width: 100%;">
        		<tr height="50px;">
        			<td>
        				  <label class="layui-form-label">
			                  <span class="x-red">*</span>仓库名称
			              </label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" id="warehouseName" name="warehouseName" th:value="${mstD003Warehouse.warehouseName}" lay-verify="required" class="layui-input">
			              </div>
        			</td>
        			<td>
        				  <label class="layui-form-label"><span class="x-red">*</span>仓库管理员</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" id="warehouseOwner" name="warehouseOwner" th:value="${mstD003Warehouse.warehouseOwner}" lay-verify="required" class="layui-input">
			              </div>	
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td>
        				  <label class="layui-form-label"><span class="x-red">*</span>仓库面积</label>
			              <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" id="warehouseArea" name="warehouseArea" th:value="${mstD003Warehouse.warehouseArea}" lay-verify="required" class="layui-input">
			              </div>
        			</td>
        			<td>
	        			<label class="layui-form-label">邮政编号</label>
			            <div class="layui-input-inline" style="width: 65%;">
			                <input type="text" id="postcode" name="postcode" th:value="${mstD003Warehouse.postcode}"  class="layui-input">
			            </div>
		            </td>
        		</tr>
        		<tr height="50px;">
        			<td>
	        			<label class="layui-form-label"><span class="x-red">*</span>联系电话</label>
					    <div class="layui-input-inline" style="width: 65%;">
			                  <input type="text" id="warehouseTelNo" name="warehouseTelNo" th:value="${mstD003Warehouse.warehouseTelNo}" lay-verify="phone" class="layui-input">
			            </div>
        			</td>
        			<td>
        				<label class="layui-form-label"><span class="x-red">*</span>货架管理</label>
					    <div class="layui-input-inline">
			                  <input type="checkbox" name="updateShelfMang"  id="updateShelfMang" lay-text="是|否" lay-filter="updateShelfMang"  th:checked="${mstD003Warehouse.shelfMang}==0" value="0" lay-skin="switch" class="layui-input">
			             </div>
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td>
        				<label class="layui-form-label"><span class="x-red">*</span>货架数量</label>
			            <div class="layui-input-inline" style="width: 65%;">
			            	<input type="text" id="shelfNum" name="shelfNum" th:value="${mstD003Warehouse.shelfNum}" lay-verify="required" class="layui-input">
			            </div>
        			</td>
        			<td>
	        			<label class="layui-form-label"><span class="x-red">*</span>所属单位</label>
		                <div class="layui-input-inline" style="width: 65%;">
		                    <select name="plantCode" >
		                        <option th:each="plant : ${plantList}" th:selected="${mstD003Warehouse.plantCode==plant.plantCode}" th:value="${plant.plantCode}" th:text="${plant.plantName}"></option>
		                    </select>
		                </div>
        			</td>
        		</tr>
        		<tr height="50px;">
        			<td colspan="2">
	                	<label class="layui-form-label"><span class="x-red">*</span>仓库地址</label>
			            <div class="layui-input-block">
			            	<textarea id="warehouseAddress" name="warehouseAddress" lay-verify="required" th:text="${mstD003Warehouse.warehouseAddress}" class="layui-textarea"></textarea>
			            </div>
					</td>
        		</tr>
        		<tr height="50px;">
        			<td colspan="2">
	                	<label class="layui-form-label">运转状态</label>
					    <div class="layui-input-inline"  style="margin-top: 8px;">
			                <input type="checkbox" name="updateEnableFlag"  id="updateEnableFlag" lay-text="开启|停用" lay-filter="updateEnableFlag"  th:checked="${mstD003Warehouse.enableFlag}==0" value="0" lay-skin="switch" class="layui-input">
			            </div>
					</td>
        		</tr>
        	</table>
		  <button id="submitForm" style="display: none;" lay-filter="updateMstD003" lay-submit=""></button>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
          var contextPath = getContextPath();
			var initurl = contextPath+'/queryBaseCityTree';
			//监听省下拉框
			form.on('select(provinceId)', function (data) {
				var html = "";
			    urls = initurl + "?provinceId=" + data.value;
				Ext.Ajax.request({
					  url : urls,
					  success : function(response) {
						  var data = Ext.util.JSON.decode(response.responseText);
						  data = data.data;
						  for(var i = 0; i < data.length; i++){
							html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"; 
						  }
						  if(html!=""){
							  $('.cityId').html(html);
							  form.render('select');
						  }else{
							  $('.cityId').html("");
							  form.render('select');
						  }
					  }
				});
			});
			//监听市下拉框
			form.on('select(cityId)', function (data) {
				var html = "";
			    urls = initurl + "?cityId=" + data.value;
				Ext.Ajax.request({
					  url : urls,
					  success : function(response) {
						  var data = Ext.util.JSON.decode(response.responseText);
						  data = data.data;
						  for(var i = 0; i < data.length; i++){
							html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"; 
						  }
						  if(html!=""){
							  $('.areaId').html(html);
							  form.render('select');
						  }else{
							  $('.areaId').html("");
							  form.render('select');
						  }
					  }
				});
			});
        //监听checkbox
          form.on('switch(updateEnableFlag)', function(data){
        	  console.log(data.elem.checked);
        	  if(data.elem.checked){
        		  document.getElementById("enableFlag").value= "0";
        	  }else{
        		  document.getElementById("enableFlag").value= "1";
        	  }
        	});
          form.on('switch(updateShelfMang)', function(data){
        	  console.log(data.elem.checked);
        	  if(data.elem.checked){
        		  document.getElementById("shelfMang").value= "0";
        	  }else{
        		  document.getElementById("shelfMang").value= "1";
        	  }
        	});
          form.on('submit(updateMstD003)', function(data){
              AjaxHttpRequest("/updateMstD003Warehouse",data.field);
              return false;
          });
        });
    </script>
  </body>

</html>