<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<input type="hidden" id="jsonData" name="jsonData" th:value="${jsonData}">
<input type="hidden" id="title" name="title" th:value="${mstD001Plant.plantName}">
<input type="hidden" id="date" name="date" th:value="${#dates.format(mstD001Plant.cdTime, 'yyyy-MM-dd HH:mm:ss')}">
<div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 550px;;overflow: auto;">
        	<div id="container" style="height: 90%"></div>
        </div>
      </div>
    </div>
</div>
</body>
</html>