<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 500px;;overflow: auto;">
        	<table class="layui-table layui-form">
		        <thead>
			        <tr>
			            <th>序号</th>
			            <th>设备编号</th>
						<th>设备名称</th>
						<th>设备类型</th>
						<th>所在单位</th>
						<th>所在仓库</th>
						<th>所在货架</th>
						<th>设备属性</th>
						<th style="text-align: center;">操作</th>
					</tr>
		        </thead>
		        <tbody>
		          <tr th:each="sensorDevice,iterStat: ${sensorDeviceList}">
		          	<td th:text="${iterStat.index+1}"></td>
		            <td th:text="${sensorDevice.deviceno}"></td>
		            <td th:text="${sensorDevice.devicename}"></td>
		            <td th:text="${sensorDevice.devicetypeName}"></td>
		            <td th:text="${sensorDevice.plantName}"></td>
					<td th:text="${sensorDevice.warehouseName}"></td>
					<td th:text="${sensorDevice.shelfName}"></td>
		            <td th:text="${sensorDevice.deviceproperty}"></td>
		            <td align="center">
		              <button th:id="${sensorDevice.deviceid}" class="layui-btn layui-btn-primary layui-btn-xs" onclick="viewSensorDeviceInfo(this);"><i class="layui-icon">&#xe679;</i>查看</button>
		              <button th:id="${sensorDevice.deviceid}" class="layui-btn layui-btn layui-btn-xs"  onclick="updateSensorDeviceForword(this)" ><i class="layui-icon">&#xe62b;</i>编辑</button>
		              <button th:id="${sensorDevice.deviceid}" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="deleteSensorDevice(this)"><i class="layui-icon">&#xe640;</i>删除</button>
		            </td>
		          </tr>
		        </tbody>
		      </table>
		      <div id="pageTag" th:include="pageTag.html">
        </div>
      </div>
    </div>
</div>
</html>       