<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
<body>
<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
<div class="x-body layui-anim">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <table id="table">
                <tbody>
                <tr height="50px;">
                    <td>
                        <label class="layui-form-label"><span class="x-red">*</span>商家名称</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <div class="layui-input-inline" style="width: 60%;">
                                <input readonly type="text" id="shopName" name="shopName" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr height="50px;">
                    <td>
                        <label class="layui-form-label"><span class="x-red">*</span>菜品名称</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <select name="vegetablesId" class="vegetablesId" lay-search lay-filter="vegetablesId">
                                <option value="请选择"
                                        text="请选择"></option>
                                <option th:each="vegetable : ${vegetables}" th:value="${vegetable.id}"
                                        th:text="${vegetable.name}"></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <input type="text" id="number" name="number" class="layui-input">
                        </div>
                    </td>
                    <td>
                        <label class="layui-form-label"><span class="x-red">*</span>单位</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <select name="unit" class="unit" lay-filter="unit" lay-search>
                                <option value="请选择"
                                        text="请选择"></option>
                                <option th:each="unit : ${units}" th:value="${unit}" th:text="${unit}"></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <a class="layui-btn layui-btn-xs add">添加</a>
                        <!--<a class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button id="submitForm" style="display: none;" lay-filter="updateOrder" lay-submit=""></button>
    </form>
</div>
<script th:inline="javascript">

    $(function () {

        var order=[[${order}]];
        orderId=order.id;
        $('#shopName').val(order.shopName);
        orderList=[[${orderInfos}]];

        for (var i = 0; i < orderList.length; i++) {
            index++;
            orderList[i].index=index;
            var html = '<tr height="50px;" ' +
                "id=" + index + '>' +
                '<td>' +
                '<label class="layui-form-label">菜品名称</label>' +
                '<div class="layui-input-inline" style="width: 60%;">' +
                '<input readonly="readonly" type="text" id="number" name="number" ' +
                "value=" + orderList[i].vegetablesName +
                '  class="layui-input">' +
                '</div>' +
                '</div>' +
                '</td>' +
                '<td>' +
                '<label class="layui-form-label">数量</label>' +
                '<div class="layui-input-inline" style="width: 60%;">' +
                '<input readonly="readonly" type="text" id="number" name="number"' +
                "value=" + orderList[i].number +
                ' class="layui-input">' +
                '</div>' +
                '</td>' +
                '<td>' +
                '<label class="layui-form-label"><span class="x-red">*</span>单位</label>' +
                '<div class="layui-input-inline" style="width: 60%;">' +
                '<input readonly="readonly" type="text" id="number" name="number" ' +
                "value=" + orderList[i].unit +
                '  class="layui-input">' +
                ' </div> </td> <td>' +
                '<a onclick="deleteTr(' + index + ')" class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>' +
                ' </td> </tr>';

            //添加到表格最后
            $(html).appendTo($('#table tbody:last'));
        }
    })
    var orderId = 0;
    var index = 0;
    var shopName = "";
    var shopId = "";
    var vegetablesName = "";
    var vegetablesId = "";
    var numberName = "";
    var unitName = "";
    var unitId = "";
    var orderList = new Array();
    $('body').on('click', '.add', function () {

        numberName = $('#number').val();
        console.log('vegetablesName', vegetablesName)
        if (vegetablesName == '') {
            layer.alert('请选择菜品');
            return
        }
        if (numberName == '') {
            layer.alert('请选择数量');
            return
        }
        if (unitName == '') {
            layer.alert('请选择单位');
            return
        }
        var orderInfo = {};
        index++;
        orderInfo.index = index;
        orderInfo.shopId = shopId;
        orderInfo.vegetablesId = vegetablesId;
        orderInfo.vegetablesName = vegetablesName;
        orderInfo.number = numberName;
        orderInfo.unit = unitName;
        console.log(orderInfo)
        orderList.push(orderInfo)
        var html = '<tr height="50px;" ' +
            "id=" + index + '>' +
            '<td>' +
            '<label class="layui-form-label">菜品名称</label>' +
            '<div class="layui-input-inline" style="width: 60%;">' +
            '<input readonly="readonly" type="text" id="number" name="number" ' +
            "value=" + vegetablesName +
            '  class="layui-input">' +
            '</div>' +
            '</div>' +
            '</td>' +
            '<td>' +
            '<label class="layui-form-label">数量</label>' +
            '<div class="layui-input-inline" style="width: 60%;">' +
            '<input readonly="readonly" type="text" id="number" name="number"' +
            "value=" + numberName +
            ' class="layui-input">' +
            '</div>' +
            '</td>' +
            '<td>' +
            '<label class="layui-form-label"><span class="x-red">*</span>单位</label>' +
            '<div class="layui-input-inline" style="width: 60%;">' +
            '<input readonly="readonly" type="text" id="number" name="number" ' +
            "value=" + unitName +
            '  class="layui-input">' +
            ' </div> </td> <td>' +
            '<a onclick="deleteTr(' + index + ')" class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>' +
            ' </td> </tr>';

        //添加到表格最后
        $(html).appendTo($('#table tbody:last'));
        layui.form.render();//因为有select元素，所有添加后要重新渲染一次
    });

    function deleteTr(index) {
        for (var i = 0; i < orderList.length; i++) {
            if (orderList[i].index == index) {
                orderList.splice(i, 1)
                return
            }
        }
    }

    $('body').on('click', '.del', function () {
        if ($('#table tbody tr').length === 1) {
            layer.msg('只有一条不允许删除。', {
                time: 2000
            });
        } else {
            console.log("this", $(this))


            //删除当前按钮所在的tr
            $(this).closest('tr').remove();
        }
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        // 执行一个laydate实例
        laydate.render({
            elem: '#birthDay' // 指定元素
        });
    });
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
        //监听下拉框
        form.on('select(shopId)', function (data) {
            console.log(data.value);
            console.log(data.elem[data.elem.selectedIndex].text);
            shopId = data.value;
            shopName = data.elem[data.elem.selectedIndex].text;
        });
        form.on('select(vegetablesId)', function (data) {
            console.log(data.value);
            console.log(data.elem[data.elem.selectedIndex].text);
            vegetablesId = data.value;
            vegetablesName = data.elem[data.elem.selectedIndex].text;
        });
        form.on('select(unit)', function (data) {
            console.log(data.value);
            console.log(data.elem[data.elem.selectedIndex].text);
            unitId = data.value;
            unitName = data.elem[data.elem.selectedIndex].text;
        });

        form.on('submit(updateOrder)', function () {
            console.log(orderList)
            var order = {}
            for (var i = 0; i < orderList.length; i++) {
                order["orderInfo[" + i + "].vegetablesId"] = orderList[i].vegetablesId;
                order["orderInfo[" + i + "].vegetablesName"] = orderList[i].vegetablesName;
                order["orderInfo[" + i + "].number"] = orderList[i].number;
                order["orderInfo[" + i + "].unit"] = orderList[i].unit;
            }
            order.shopId = shopId;
            order.shopName = shopName;
            order.id=orderId;
            AjaxHttpRequest("/updateOrder", order);
            return false;
        });
    });
</script>
</body>

</html>