<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
<body>
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<div class="x-body layui-anim">
		<form class="layui-form layui-form-pane">
			<input type="hidden" id="id" name="id" th:value="${shop.id}">
			<table style="width: 100%">
				<tr height="50px;">
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>商家名称</label>
						<div class="layui-input-inline">
							<input type="text" name="name" id="name" th:value="${shop.name}" lay-verify="required" class="layui-input">
						</div>
					</td>
					<td>
						<label class="layui-form-label"> <span class="x-red">*</span>商家地址</label>
						<div class="layui-input-inline">
							<input type="text" name="address" id="address" th:value="${shop.address}" lay-verify="prize" class="layui-input">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>手机号</label>
						<div class="layui-input-inline">
							<input type="text" name="mobile" id="mobile" th:value="${shop.mobile}" lay-verify="mobile" class="layui-input">
						</div>
					</td>
					<td>
						<label class="layui-form-label"> <span class="x-red">*</span>车牌号</label>
						<div class="layui-input-inline">
							<input type="text" name="card" id="card" th:value="${shop.card}" lay-verify="card" class="layui-input">
						</div>
					</td>
				</tr>
			</table>
			<button id="submitForm" style="display: none;" lay-filter="updateshop" lay-submit=""></button>
		</form>
	</div>
	<script>
		layui.use('laydate', function() {
			var laydate = layui.laydate;

			// 执行一个laydate实例
			laydate.render({
				elem : '#birthDay' // 指定元素
			});
		});
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;

			form.on('submit(updateshop)', function(data) {
                var name = $('#name').val();
                if (name == '') {
                    layer.alert('请填写商家名称');
                    return
                }
				AjaxHttpRequest("/updateShop", data.field);
				return false;
			});
		});
	</script>
</body>
</html>