<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
<body>
<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
<div class="x-body layui-anim">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <table id="table">
                <tbody>
                <tr height="50px;">
                    <td>
                        <label class="layui-form-label">是否老客户</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isOld" value="1" title="是" lay-filter="isOld" checked>
                            <input type="radio" name="isOld" value="0" title="否" lay-filter="isOld">
                        </div>
                    </td>
                    <td>
                        <label class="layui-form-label"><span class="x-red">*</span>商家名称</label>
                        <div class="layui-input-inline shop1" style="width: 60%;">
                            <select name="shopId" class="shopId" lay-search lay-filter="shopId">
                                <option value="请选择"
                                        text="请选择"></option>
                                <option th:each="shop : ${shops}" th:value="${shop.id}"
                                        th:text="${shop.name}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline shop2" style="width: 60%;">
                            <input type="text" id="shopName2" name="shopName" class="layui-input">
                        </div>
                    </td>
                </tr>
                <tr height="50px;">
                    <td>
                        <label class="layui-form-label">是否付款</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isPay" value="1" title="是" lay-filter="isPay" checked>
                            <input type="radio" name="isPay" value="0" title="否" lay-filter="isPay">
                        </div>
                    </td>
                    <td>
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <input type="text" id="remark" name="remark" class="layui-input">
                        </div>
                    </td>
                </tr>
                <tr height="50px;">
                    <td>
                        <label class="layui-form-label"><span class="x-red">*</span>商品名称</label>
                        <div class="layui-input-inline" style="width: 60%;">
                            <select name="goodsId" class="goodsId" lay-search lay-filter="goodsId">
                                <option value="请选择"
                                        text="请选择"></option>
                                <option th:each="good : ${goods}" th:value="${good.id}"
                                        th:text="${good.name}"></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-inline" style="width: 30%;">
                            <input type="text" id="amount" name="amount" class="layui-input">
                        </div>
                        <label class="layui-form-label">单价</label>
                        <div class="layui-input-inline" style="width: 30%;">
                            <input type="text" id="salePrice" name="salePrice" class="layui-input">
                        </div>
                    </td>
                    <td>
                        <a class="layui-btn layui-btn-xs add">添加</a>
                        <!--<a class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div height="50px;">
                <label class="layui-form-label">总计</label>
                <div class="layui-input-inline" style="width: 30%;">
                    <input type="text" readonly id="totalPrice" name="totalPrice" class="layui-input">
                </div>
            </div>
        </div>
        <button id="submitForm" style="display: none;" lay-filter="saveOrder" lay-submit=""></button>
    </form>
</div>
<script>

    var index = 0;
    var shopName = "";
    var shopName2 = "";
    var shopId = "";
    var goodsName = "";
    var goodsId = "";
    var amountName = "";
    var priceName = "";
    var orderList = new Array();
    var totalPrice="";
    var isPay=true;
    var remark="";
    var price="";
    $(".shop2").hide();
    $('body').on('click', '.add', function () {

        amountName = $('#amount').val();
        priceName = $('#salePrice').val();
        shopName2 = $('#shopName2').val();
        remark=$('#remark').val();
        if (shopName == '' && shopName2 == '') {
            layer.alert('请先选择商家');
            return
        }
        if (goodsName == '') {
            layer.alert('请选择商品');
            return
        }
        if (amountName == '') {
            layer.alert('请选择数量');
            return
        }
        if (priceName == '') {
            layer.alert('请选择金额');
            return
        }
        price=Number(priceName*amountName);
        totalPrice=Number(totalPrice)+Number(priceName*amountName);
        $('#totalPrice').val(totalPrice);
        var orderInfo = {};
        index++;
        orderInfo.index = index;
        orderInfo.shopId = shopId;
        orderInfo.goodsId = goodsId;
        orderInfo.goodsName = goodsName;
        orderInfo.salePrice = priceName;
        orderInfo.amount = amountName;
        orderInfo.remark=remark;
        orderInfo.totalPrice=price;
        console.log(orderInfo)
        orderList.push(orderInfo)
        var html = '<tr height="50px;" ' +
            "id=" + index + '>' +
            '<td>' +
            '<label class="layui-form-label">菜品名称</label>' +
            '<div class="layui-input-inline" style="width: 60%;">' +
            '<input readonly="readonly" type="text" id="number" name="number" ' +
            "value=" + goodsName +
            '  class="layui-input">' +
            '</div>' +
            '</div>' +
            '</td>' +
            '<td>' +
            '<label class="layui-form-label">数量</label>' +
            '<div class="layui-input-inline" style="width: 20%;">' +
            '<input readonly="readonly" type="text" id="amount" name="amount"' +
            "value=" + amountName +
            ' class="layui-input">' +
            '</div>' +
            '<label class="layui-form-label">单价</label>' +
            '<div class="layui-input-inline" style="width: 10%;">' +
            '<input readonly="readonly" type="text" id="salePrice" name="salePrice"' +
            "value=" + priceName +
            ' class="layui-input">' +
            ' </div>' +
            '<label class="layui-form-label">金额</label>' +
            '<div class="layui-input-inline" style="width: 10%;">' +
            '<input readonly="readonly" type="text" id="price" name="price"' +
            "value=" + price +
            ' class="layui-input">' +
            ' </div>' +
            '</td>' +
            ' <td>' +
            '<a onclick="deleteTr(' + index + ')" class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>' +
            ' </td> </tr>';

        console
        //添加到表格最后
        $(html).appendTo($('#table tbody:last'));
        layui.form.render();//因为有select元素，所有添加后要重新渲染一次
    });

    function deleteTr(index) {
        for (var i = 0; i < orderList.length; i++) {
            if (orderList[i].index == index) {
                totalPrice=Number(totalPrice)-Number((orderList[i].salePrice)*(orderList[i].amount));
                $('#totalPrice').val(totalPrice);
                orderList.splice(i, 1)
                return
            }
        }
    }

    $('body').on('click', '.del', function () {
        if ($('#table tbody tr').length === 1) {
            layer.msg('只有一条不允许删除。', {
                time: 2000
            });
        } else {
            console.log("this", $(this))


            //删除当前按钮所在的tr
            $(this).closest('tr').remove();
        }
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        // 执行一个laydate实例
        laydate.render({
            elem: '#birthDay' // 指定元素
        });
    });
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
        //监听下拉框
        form.on('select(shopId)', function (data) {
            console.log(data.value);
            console.log(data.elem[data.elem.selectedIndex].text);
            shopId = data.value;
            shopName = data.elem[data.elem.selectedIndex].text;
        });
        form.on('select(goodsId)', function (data) {
            console.log(data);
            console.log(data.elem[data.elem.selectedIndex].text);
            goodsId = data.value;
            goodsName = data.elem[data.elem.selectedIndex].text;
        });

        form.on('radio(isOld)', function (data) {
            if (data.value == '1') {
                $(".shop2").hide();
                $(".shop1").show();
            } else {
                $(".shop2").show();
                $(".shop1").hide();
            }
        });
        form.on('radio(isPay)', function (data) {
            if (data.value == '1') {
                isPay=true;
            } else {
                isPay=false;
            }
        });

        form.on('submit(saveOrder)', function () {
            console.log(orderList)
            var order = {}
            for (var i = 0; i < orderList.length; i++) {
                order["orderInfo[" + i + "].goodsId"] = orderList[i].goodsId;
                order["orderInfo[" + i + "].goodsName"] = orderList[i].goodsName;
                order["orderInfo[" + i + "].amount"] = orderList[i].amount;
                order["orderInfo[" + i + "].salePrice"] = orderList[i].salePrice;
                order["orderInfo[" + i + "].totalPrice"] = orderList[i].totalPrice;
            }
            order.shopId = shopId;
            order.shopName = shopName;
            order.isPay = isPay;
            order.remark = remark;
            order.totalPrice = totalPrice;
            AjaxHttpRequest("/saveOrder", order);
            return false;
        });
    });
</script>
</body>

</html>