<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 500px;overflow: auto;">
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>商家名称</th>
                    <th>订单时间</th>
                    <th>商品列表</th>
                    <th>金额</th>
                    <th>是否付款</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order,iterStat: ${orders}">
                    <td th:text="${iterStat.index+1}"></td>
                    <td th:text="${order.shopName}"></td>
                    <td th:text="${order.timeDesc}"></td>
                    <td   style="max-width: 500px;"   th:text="${order.showName}"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${order.isPayShow}"></td>
                </tr>
                </tbody>
            </table>
            <div id="pageTag" th:include="pageTag.html">
            </div>
        </div>
    </div>
</div>
</html>       