<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 500px;;overflow: auto;">
        	<table class="layui-table layui-form">
		        <thead>
			        <tr>
			            <th>序号</th>
			            <th>供应商</th>
			            <th>供应商部门ID</th>
			            <th>供应商部门CODE</th>
						<th>供应商名称</th>
						<th>供应商部门负责人</th>
						<th>供应商部门电话</th>
						<th style="text-align: center;">状态</th>
						<th style="text-align: center;">操作</th>
					</tr>
		        </thead>
		        <tbody>
		          <tr th:each="mstD006,iterStat: ${MstD006List}">
		          	<td th:text="${iterStat.index+1}"></td>
		          	<td th:text="${mstD006.ownerName}"></td>
		            <td th:text="${mstD006.deptUid}"></td>
		            <td th:text="${mstD006.deptCode}"></td>
		            <td th:text="${mstD006.deptName}"></td>
		            <td th:text="${mstD006.deptHead}"></td>
					<td th:text="${mstD006.deptTelno}"></td>
		            <td align="center">
		            	<span class="layui-btn layui-btn-xs" th:if="${mstD006.deleteFlag}==0" th:text="已启用"></span>
		            	<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${mstD006.deleteFlag}==1" th:text="已停用"></span>
		            </td>
		            <td align="center">
		              <button th:id="${mstD006.deptUid}" class="layui-btn layui-btn-primary layui-btn-xs" onclick="viewMstD006DepartmentInfo(this);"><i class="layui-icon">&#xe679;</i>查看</button>
		              <button th:id="${mstD006.deptUid}" class="layui-btn layui-btn layui-btn-xs"  onclick="updateMstD006DepartmentForward(this)" ><i class="layui-icon">&#xe62b;</i>编辑</button>
		              <button th:id="${mstD006.deptUid}" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="deleteMstD006Department(this)" ><i class="layui-icon">&#xe640;</i>删除</button>
		            </td>
		          </tr>
		        </tbody>
		      </table>
		      <div id="pageTag" th:include="pageTag.html">
        </div>
      </div>
    </div>
</div>
</html>       