<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
<body>
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<div class="x-body layui-anim" align="center">
        <form class="layui-form layui-form-pane">
        	<input type="hidden" id="reqpDuid" name="reqpDuid" th:value="${mstD008ReqPriceD.id}">
        	<table>
				<tr height="80px;">
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>定价组名称</label>
						<div class="layui-input-inline" style="width: 57%;">
							<select name="reqpUid" id="reqpUid">
								<option th:each="reqPriceH : ${reqPriceHList}" th:selected="${reqPriceH.id}==${mstD008ReqPriceD.mstD007ReqPriceH.id}" th:value="${reqPriceH.id}" th:text="${reqPriceH.reqpName}"></option>
							</select>
						</div>
					</td>
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>价格单位</label>
						<div class="layui-input-inline" style="width: 57%;">
							<select name="parityId" id="parityId">
								<option th:each="parity : ${parityList}" th:selected="${parity.id}==${mstD008ReqPriceD.parity.id}" th:value="${parity.id}" th:text="${parity.parityChName}+'('+${parity.parityEnName}+')'"></option>
							</select>
						</div>
					</td>
				</tr>
				<tr height="80px;">
					<td colspan="2">
						<label class="layui-form-label"><span class="x-red">*</span>定价</label>
						<div class="layui-input-inline">
							<input type="text" id="unitPrice" name="unitPrice" th:value="${mstD008ReqPriceD.unitPrice}" lay-verify="required" class="layui-input">
						</div>
					</td>
				</tr>
			</table>
		  	<button id="submitForm" style="display: none;" lay-filter="updateMstD008ReqPriceD" lay-submit=""></button>
      </form>
    </div>
	<script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			form.on('submit(updateMstD008ReqPriceD)', function(data) {
				AjaxHttpRequest("/updateMstD008ReqPriceD", data.field);
				return false;
			});
		});
	</script>
</body>

</html>