<head>
    <meta charset="UTF-8">
    <title>商品仓储管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="images/icon/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css"/>
    <!-- 皮肤 -->
    <link rel="stylesheet" href="layui/layui/css/modules/skin.css" media="all">
    <link rel="stylesheet" href="css/main.css" media="all">
    <script type="text/javascript" src="jquery/jquery.min.js"></script>
    <script type="text/javascript" src="layui/layui/layui.js" charset="utf-8"></script>
    <!-- echarts -->
    <script type="text/javascript" src="echarts/echarts.js"></script>
    <!-- 弹出框 -->
    <script type="text/javascript" src="layui/layuiModal.js"></script>
    <!-- ExtJs-->
    <script type="text/javascript" src="extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="extjs/ext-all.js"></script>
    <!-- 业务js -->
    <script type="text/javascript" src="businessjs/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/dept.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/json.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/material.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/monitor.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/owner.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/pdftemplate.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/permission.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/plant.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/reqprice.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/role.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/sensor.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/shelf.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/user.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/warehouse.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/goods.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/shop.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/order.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/orderInfo.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/buy.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/account.js" charset="utf-8"></script>
    <script type="text/javascript" src="businessjs/vegetables.js" charset="utf-8"></script>
    <style>
        body {
            background: white;
        }
    </style>
</head>
