﻿<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<fieldset class="layui-elem-field layui-field-title" style="width: 100%">
		  <legend class="x-a">权限列表</legend>
		  <div class="layui-field-box">
		    	<form class="layui-form">
				<input type="hidden" id="roleId" name="roleId" th:value="${roleId}">
					<div class="layui-form-item" style="height: 440px; overflow-y:auto;width: 96%;margin-left: 15px;">
						<table class="layui-table layui-form">
					        <thead>
					          <tr>
					          	<th width="5%"><input type="checkbox" name="checkAll" id="checkAll" lay-skin="primary" lay-filter="checkAll"></th>
					            <th>序号</th>
					            <th>权限ID</th>
								<th>权限名称</th>
					        </thead>
					        <tbody class="x-cate">
								<div th:each="permission,iterStat: ${permissionList}">
										<tr th:cate-id='${permission.permissionId}' th:fid="${permission.parentId}">
											<td><input type="checkbox" class="checkPermission" name="checkPermission" lay-filter="checkOne" lay-skin="primary" th:value="${permission.permissionId}"></td>
											<td width="15%" th:text="${iterStat.index+1}"></td>
											<td width="30%" th:text="${permission.permissionCode}"></td>
											<td><i class="layui-icon x-show" status='true'>&#xe623;</i><span th:text="${permission.permissionName}"></span></td>
										</tr>
										<div th:each="node,index: ${permission.permissions}">
										<tr th:cate-id='${node.permissionId}' th:fid="${permission.permissionId}">
											<td><span style="margin-left: 20px;"><input type="checkbox" class="checkPermission" name="checkPermission" lay-filter="checkOne" lay-skin="primary" th:value="${node.permissionId}"></td>
											<td width="15%"><span style="margin-left: 40px;" th:text="${iterStat.index+1}+'.'+${index.index+1}"></span></td>
											<td width="30%"><span style="margin-left: 40px;" th:text="${node.permissionCode}"></span></td>
											<td><span style="margin-left: 40px;" th:text="${node.permissionName}"></span></td>
										</tr>
										</div>
									</div>
							</tbody>
						</table>
					</div>
				<button id="submitForm" style="display: none;" lay-filter="savePermission_role" lay-submit=""></button>
			</form>
		  </div>
		</fieldset>
    <script>
    layui.use('table', function(){
  	  var table = layui.table; 
  	});
  	layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
        form.on('checkbox(checkAll)', function(data){
        	var a = data.elem.checked;
        	if(a == true){
            	$(".checkPermission").prop("checked", true);
            	form.render('checkbox');
            	}else{
            	$(".checkPermission").prop("checked", false);
            	form.render('checkbox');
            }
        });
        form.on('checkbox(checkOne)', function(data){
        	var item = $(".checkPermission");
        	for(var i=0;i<item.length;i++){
	        	if(item[i].checked == false){
		        	$("#checkAll").prop("checked", false);
		        	form.render('checkbox');
	        	}
        	}
        });
        form.on('submit(savePermission_role)', function(data){
	      	  var permissionIdcheck = document.getElementsByName("checkPermission");
	      	  var permissionIds="";
	      	  for(var i =0;i<permissionIdcheck.length;i++){
	      		if(permissionIdcheck[i].checked){
	      			permissionIds+=permissionIdcheck[i].value+",";
	      		}
	      		if(i+1==permissionIdcheck.length){
	      			permissionIds=permissionIds.substring(0,permissionIds.length-1);
	      		}
	      	  }
	      	  if(permissionIds.length==0){
	          	layer.msg('请选择权限',{icon:5,anim: 6});
	          	return false;
	          }
	      	  data.field.permissionIds=permissionIds;
	          AjaxHttpRequest("/savePermission_role",data.field);
	          return false;
        });
      });
    </script>
  </body>
</html>