<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim" style="margin-left: 80px;">
        <form class="layui-form layui-form-pane">
          <div class="layui-form-item" >
              <label class="layui-form-label">父类权限</label>
              <div class="layui-input-inline">
              	  <input type="text" th:value="${parentPermissionName}" class="layui-input layui-elip layui-disabled">
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">权限CODE</label>
              <div class="layui-input-inline">
                  <input type="text" th:value="${permission.permissionCode}" class="layui-input layui-disabled layui-elip">
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">权限名称</label>
              <div class="layui-input-inline">
                  <input type="text" id="permissionName" name="permissionName"  th:value="${permission.permissionName}" class="layui-input layui-elip layui-disabled">
              </div>
          </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">权限URL</label>
		    <div class="layui-input-inline">
		       <input type="text" id="permissionUrl" name="permissionUrl"  th:value="${permission.permissionUrl}" class="layui-input layui-elip layui-disabled">
		    </div>
		  </div>
		  <div class="layui-form-item">
		  		<label class="layui-form-label"><span class="x-red">*</span>是否过期</label>
			   <div class="layui-input-inline">
					<input type="checkbox" lay-text="否|是" th:checked="${permission.deleteFlag}==0"
						th:value="${permission.deleteFlag}" disabled="disabled" lay-skin="switch" class="layui-input">
				</div>
		  </div>
      </form>
    </div>
  </body>

</html>