<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 550px;;overflow: auto;">
        	<table class="layui-table layui-form">
		        <thead>
			        <tr>
			            <th>序号</th>
			            <th>角色ID</th>
						<th>角色CODE</th>
						<th>角色名</th>
						<th>更新人</th>
						<th>更新时间</th>
						<th style="text-align: center;">状态</th>
						<th style="text-align: center;">操作</th>
					</tr>
		        </thead>
		        <tbody>
		          <tr th:each="role,iterStat: ${roleList}">
		            <td th:text="${iterStat.index+1}"></td>
		            <td th:text="${role.roleId}"></td>
		            <td th:text="${role.roleCode}"></td>
		            <td th:text="${role.roleName}"></td>
		            <td th:text="${role.upPerson}"></td>
		            <td th:text="${#dates.format(role.upTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
		            <td align="center">
		            	<span class="layui-btn layui-btn-xs" th:if="${role.available}==0" th:text="已启用"></span>
		            	<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${role.available}==1" th:text="已停用"></span>
		            </td>
		            <td align="center">
		              <button th:id="${role.roleId}" class="layui-btn layui-btn-primary layui-btn-xs" onclick="viewRoleInfo(this);"><i class="layui-icon">&#xe679;</i>查看</button>
		              <button th:id="${role.roleId}" class="layui-btn layui-btn layui-btn-xs"  onclick="updateRoleForward(this)" ><i class="layui-icon">&#xe62b;</i>编辑</button>
		              <button th:id="${role.roleId}" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="deleteRole(this)" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
		            </td>
		          </tr>
		        </tbody>
		      </table>
		      <div id="pageTag" th:include="pageTag.html">
        </div>
      </div>
    </div>
  </div>
</html>        