<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body style="overflow: hidden;">
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<fieldset class="layui-elem-field layui-field-title" style="height: 80%">
		  <legend class="x-a">用户列表</legend>
		  <div class="layui-field-box">
		    	<form class="layui-form">
					<input type="hidden" id="roleId" name="roleId" th:value="${roleId}">
					<div class="layui-form-item" style="width: 96%;margin-left: 15px;">
					<table class="layui-table" lay-data="{id: 'userSelect',height:'480',page:true}">
						<thead>
							<tr>
								<th lay-data="{type:'checkbox'}">选择</th>
								<th lay-data="{field:'userId',sort: true}">用户ID</th>
								<th lay-data="{field:'displayName'}">用户名</th>
								<th lay-data="{field:'username'}">英文名</th>
								<th lay-data="{field:'isdel',align:'center'}">用户状态</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${userList}">
								<td></td>
								<td th:text="${user.userId}"></td>
								<td th:text="${user.displayName}"></td>
								<td th:text="${user.userName}"></td>
								<td>
									<span class="layui-btn layui-btn-xs" th:if="${user.isdel}==0" th:text="已启用"></span>
									<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${user.isdel}==1" th:text="已停用"></span></td>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<button id="submitForm" style="display: none;" lay-filter="saveUser_Role" lay-submit=""></button>
				</form>
		  </div>
		</fieldset>
    <script>
    layui.use('table', function(){
		  var table = layui.table;
		});
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
        //监听提交
        form.on('submit(saveUser_Role)', function(data){
          var checkStatus = layui.table.checkStatus('userSelect').data;
          if(checkStatus.length==0){
          	layer.msg('请选择用户',{icon:5,anim: 6});
          	return false;
          }
          var array = new Array();
          for(var i =0;i<checkStatus.length;i++){
          	array.push(checkStatus[i].userId);
      	  }
          data.field.userIds=array;
          AjaxHttpRequest("/saveUser_role",data.field);
          return false;
        });
        
      });
    </script>
  </body>
</html>