<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">查询结果</div>

        <div class="layui-card-body" style="height: 500px;overflow: auto;">
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>菜品名称</th>
                    <th>数量明细</th>
                    <th>数量总计</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="buy,iterStat: ${buys}">
                    <td th:text="${iterStat.index+1}"></td>
                    <td th:text="${buy.name}"></td>
                    <td th:text="${buy.detail}"></td>
                    <td th:text="${buy.count}"></td>
                </tr>
                </tbody>
            </table>
            <div id="pageTag" th:include="pageTag.html">
            </div>
        </div>
    </div>
</div>
</html>       