<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim">
        <form class="layui-form layui-form-pane">
          <div class="layui-form-item">
          	<table>
          		<tr height="50px;">
          			<td>
          				<label class="layui-form-label"><span class="x-red">*</span>工厂名称</label>
					    <div class="layui-input-inline">
			                  <input type="text" id="name" name="name" required="" lay-verify="name"
			                  class="layui-input">
			              </div>
          			</td>
          			<td>
          				<label class="layui-form-label">工厂地址</label>
					    <div class="layui-input-inline">
			                  <input type="text" id="address" name="address"
			                  class="layui-input">
			              </div>
          			</td>
          		</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">手机号</label>
						<div class="layui-input-inline">
							<input type="text" id="mobile" name="mobile"
								   class="layui-input">
						</div>
					</td>
				</tr>

          	</table>
          </div>
		  <button id="submitForm" style="display: none;" lay-filter="savePlant" lay-submit=""></button>
      </form>
    </div>
    <script>
	  layui.use('laydate', function() {
	    	var laydate = layui.laydate;
	
	    	// 执行一个laydate实例
	    	laydate.render({
	    		elem : '#birthDay' // 指定元素
	    	});
	    });
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
        /*//监听checkbox
          form.on('switch(addIsdel)', function(data){
        	  console.log(data.elem.checked);
        	  if(data.elem.checked){
        		  document.getElementById("isdel").value= "0";
        	  }else{
        		  document.getElementById("isdel").value= "1";
        	  }
        	});*/
          form.on('submit(savePlant)', function(data){
              var name = $('#name').val();
              if (name == '') {
                  layer.alert('请填写工厂名称');
                  return
              }
              AjaxHttpRequest("/savePlant",data.field);
              return false;
          });
        });
    </script>
  </body>

</html>