<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource.html">
</head>
<script type="text/javascript">
Ext.onReady(function(){
	queryPlantInfoList('1');
  });
</script>
<body>
<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	<legend>单位信息管理</legend>
</fieldset>
 <div class="main-contain">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card" style="border-top: 3px solid #005AA7;border-radius:6px;">
        <div class="layui-card-header">单位查询条件</div>
        <div class="layui-card-body">
        	<div class="layui-form layui-col-md12 x-so">
		        <div class="layui-form-item">
		              <label class="layui-form-label" style="margin-left: -30px;">单位名称
		              </label>
		              <div class="layui-input-inline" style="width: 9.2%">
					      <input type="text" name="plantName" id="plantName" class="layui-input">
					  </div>
		              <label class="layui-form-label">单位简称
		              </label>
		              <div class="layui-input-inline" style="width: 9.2%">
					      <input type="text" name="kanaName" id="kanaName" class="layui-input">
					  </div>
					  <label class="layui-form-label">单位类型
		              </label>
		              <div class="layui-input-inline">
		                  <select name="plantType" id="plantType" >
		                      <option th:each="plantType : ${plantTypes}" th:value="${plantType.typeId}" th:text="${plantType.typeName}"></option>
		                  </select>
		              </div>
					  <button class="layui-btn" style="margin-left: 20px;" onclick="queryPlantInfoList('1');" ><i class="layui-icon">&#xe615;</i></button>
		          </div>
	        </div>
	        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"></fieldset>
	        <button class="layui-btn layui-btn-warm" onclick="savePlantForward()"><i class="layui-icon">&#xe505;</i>添加单位</button>
        </div>
      </div>
    </div>
    <div id="returnList"></div>
</div>
</div>
</body>
</html>        