<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">查询结果</div>
        <div class="layui-card-body" style="height: 500px;;overflow: auto;">
        	<table class="layui-table layui-form">
		        <thead>
			        <tr>
			            <th>序号</th>
			            <th>仓库编号</th>
						<th>仓库名称</th>
						<th>所属单位</th>
						<th>仓库拥有者</th>
						<th>仓库面积</th>
						<th style="text-align: center;">货架管理</th>
						<th>仓库地址</th>
						<th>仓库电话</th>
						<th style="text-align: center;">运转状态</th>
						<th style="text-align: center;">操作</th>
					</tr>
		        </thead>
		        <tbody>
		          <tr th:each="mstD003,iterStat: ${mstD003List}">
		          	<td th:text="${iterStat.index+1}"></td>
		            <td th:text="${mstD003.warehouseCode}"></td>
		            <td th:text="${mstD003.warehouseName}"></td>
		            <td th:text="${mstD003.plantName}"></td>
		            <td th:text="${mstD003.warehouseOwner}"></td>
		            <td align="right" th:text="${mstD003.warehouseArea}"></td>
		            <td align="center">
		            	<span class="layui-btn layui-btn-xs" th:if="${mstD003.shelfMang}==0" th:text="已启用"></span>
		            	<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${mstD003.shelfMang}==1" th:text="已停用"></span>
		            </td>
					<td th:text="${mstD003.warehouseAddress}"></td>
					<td th:text="${mstD003.warehouseTelNo}"></td>
		            <td align="center">
		            	<span class="layui-btn layui-btn-xs" th:if="${mstD003.enableFlag}==0" th:text="正常"></span>
		            	<span class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" th:if="${mstD003.enableFlag}==1" th:text="停用"></span>
		            </td>
		            <td align="center">
		              <button th:id="${mstD003.locationCode}" class="layui-btn layui-btn-primary layui-btn-xs" onclick="viewMstD003WarehouseInfo(this);"><i class="layui-icon">&#xe679;</i>查看</button>
		              <button th:id="${mstD003.locationCode}" class="layui-btn layui-btn layui-btn-xs"  onclick="updateMstD003WarehouseForward(this)" ><i class="layui-icon">&#xe62b;</i>编辑</button>
		              <button th:id="${mstD003.locationCode}" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="deleteMstD003Warehouse(this)" ><i class="layui-icon">&#xe640;</i>删除</button>
		            </td>
		          </tr>
		        </tbody>
		      </table>
		      <div id="pageTag" th:include="pageTag.html">
        </div>
      </div>
    </div>
</div>
</html>       