<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品仓储管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=11">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="images/icon/favicon.ico" type="image/x-icon"/>
    <script src="jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css"/>
    <!-- 皮肤 -->
    <link rel="stylesheet" href="layui/layui/css/modules/skin.css" media="all">
    <script src="layui/layui/layui.js" charset="utf-8"></script>
    <!-- ExtJs-->
    <script type="text/javascript" src="extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="extjs/ext-all.js"></script>
    <style type="text/css">
        html, body {
            background: url("images/login.png") top center no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            text-align: center;
        }

        .loginMain {
            position: absolute;
            width: 600px;
            height: 300px;
            left: 52%;
            top: 50%;
            margin-left: -200px;
            margin-top: -100px;

        }
    </style>
</head>
<body>
<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
<div class="loginMain">
    <div class="layui-card"
         style="border: 1px #c7c7c7 solid;border-top: 3px solid #005AA7;border-radius:6px;width: 100%;">
        <div class="layui-card-body" style="height: 300px;">
            <div style="text-align: center;font-weight: bold;font-family: fangsong;font-size: 30px;margin-top: 5%;">
                商品仓储管理系统
            </div>
            <div style="margin-left: 120px;margin-top: 40px;">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <li class="layui-icon">&#xe66f;用户名</li>
                        </label>
                        <div class="layui-input-inline" style="width: 50%;">
                            <input type="text" id="userName" name="userName" lay-verify="required" class="layui-input"
                                   placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-top: 7%;">
                        <label class="layui-form-label">
                            <li class="layui-icon">&#xe673;密码</li>
                        </label>
                        <div class="layui-input-inline" style="width: 50%;">
                            <input type="password" id="password" name="password" lay-verify="required"
                                   class="layui-input" placeholder="请输入密码">
                        </div>
                    </div>
                    <div style="text-align: center;width:75%;margin-top: 5%;">
                        <button class="layui-btn" type="submit" lay-filter="login" lay-submit="">登录</button>
                        <button type="reset" class="layui-btn layui-btn-warm">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(login)', function (data) {
                var userName = document.getElementById("userName").value;
                var password = document.getElementById("password").value;
                requestData = {"userName": userName, "password": password, "rememberMe": false}
                var index = layer.load(3);
                var contextPath = document.getElementById("contextPath").value;
                var url = contextPath + "/ajaxLogin";
                Ext.Ajax.request({
                    url: url,
                    params: requestData,
                    success: function (request) {
                        var data = jQuery.parseJSON(request.responseText);
                        var icon = "";
                        if (data.code == '0') {
                            icon = 1
                        } else {
                            icon = 2
                        }
                        layer.close(index);
                        layer.alert(data.message, {icon: icon, zIndex: layer.zIndex}, function (index, layero) {
                            layer.setTop(layero);
                            layer.close(index);
                            location.href = contextPath + "/index";
                        });
                    },
                    failure: function (response) {
                        layer.alert('系统异常', {icon: 2, zIndex: layer.zIndex}, function (index, layero) {
                            layer.setTop(layero);
                            layer.close(index);
                            window.parent.location.reload();
                        });
                    }
                });
                return false;
            });
        });
    })
</script>
</body>
</html>