<head>
<meta charset="UTF-8">
<title>商品物流仓储管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="layui/css/default.css">
<!-- 皮肤 -->
<link rel="stylesheet" href="layui/layui/css/modules/skin.css" media="all">
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<script type="text/javascript" src="layui/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="layui/layuiModal.js"></script>
<script type="text/javascript" src="extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="extjs/ext-all.js"></script>
<script type="text/javascript" src="businessjs/common.js" charset="utf-8"></script>
</head>
