<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
<body>
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<div class="x-body layui-anim" align="center">
		<form class="layui-form layui-form-pane">
			<input type="hidden" id="materialId" name="materialId" th:value="${material.materialId}">
			<input type="hidden" id="deleteFlag" name="deleteFlag" th:value="${material.deleteFlag}">
			<input type="hidden" id="lotMangFlag" name="lotMangFlag" th:value="${material.lotMangFlag}">
			<table>
				<tr height="50px;">
					<td>
					<label class="layui-form-label"><span class="x-red">*</span>商品名称</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="materialName" name="materialName" th:value="${material.materialName}" lay-verify="required" class="layui-input layui-elip">
						</div>
					</td>
					<td>
					<label class="layui-form-label">英文名称</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="enName" name="enName" th:value="${material.enName}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>所属货架</label>
						<div class="layui-input-inline" style="width: 60%;">
							<select name="shelfId" class="shelfId" lay-filter="shelfId" lay-verify="shelf">
								<option th:each="shelf : ${shelfs}" th:selected="${material.shelfId}==${shelf.shelfId}" th:value="${shelf.shelfId}" th:text="${shelf.shelfName}"></option>
                             </select>
						</div>
					</td>
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>单位</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="unitCode" name="unitCode" th:value="${material.unitCode}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">容量</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="capacity" name="capacity" th:value="${material.capacity}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">颜色</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="color" name="color" th:value="${material.color}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">尺寸</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="materialSize" name="materialSize" th:value="${material.materialSize}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">颜色标识</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="colorFlag" name="colorFlag" th:value="${material.colorFlag}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">尺寸标识</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="sizeFlag" name="sizeFlag" th:value="${material.sizeFlag}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">定价（不含税:元）</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="printNoTax" name="printNoTax" th:value="${material.printNoTax}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">规格宽度</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="specWidth" name="specWidth" th:value="${material.specWidth}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">宽度单位</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="widthUnit" name="widthUnit" th:value="${material.widthUnit}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">规格长度</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="specLength" name="specLength" th:value="${material.specLength}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">长度单位</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="lengthUnit" name="lengthUnit" th:value="${material.lengthUnit}" class="layui-input layui-elip">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">重量</label>
						<div class="layui-input-inline" style="width: 60%;">
							<input type="text" id="weight" name="weight" th:value="${material.weight}" class="layui-input layui-elip">
						</div>
					</td>
					<td>
						<label class="layui-form-label">批次管理</label>
						<div class="layui-input-inline">
							<input type="checkbox" name="LotMangFlag" id="LotMangFlag" lay-text="启用|停用" th:checked="${material.lotMangFlag}==0" lay-filter="LotMangFlag" value="0"
								lay-skin="switch" class="layui-input">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label"><span class="x-red">*</span>是否过期</label>
						<div class="layui-input-inline">
							<input type="checkbox" name="DeleteFlag" id="DeleteFlag" lay-text="否|是" th:checked="${material.deleteFlag}==0" lay-filter="DeleteFlag" value="0"
								lay-skin="switch" class="layui-input">
						</div>
					</td>
				</tr>
			</table>
			<button id="submitForm" style="display: none;" lay-filter="updateMaterial" lay-submit=""></button>
		</form>
	</div>
	<script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			var contextPath = getContextPath();
			var initurl = contextPath+'/queryBaseCityTree';
			form.verify({
            	warehouse: function(value){
  	        	  	if(value==null||value==''){
  	        			return '所属仓库不能为空！';  
  	        	  	}
  	          	},
  	          shelf: function(value){
  	          		if(value==null||value==''){
  	        			return '所属货架不能为空！';  
  	        	  	}
  	          	}
            });
			var contextPath = getContextPath();
        	var initurl = contextPath+'/queryCascadeTree';
            form.on('select(plantId)', function (data) {
        		var html = "";
        	    urls = initurl + "?plantId=" + data.value;
        		Ext.Ajax.request({
        			  url : urls,
        			  success : function(response) {
        				  var data = jQuery.parseJSON(request.responseText);
        				  data = data.data;
        				  for(var i = 0; i < data.length; i++){
        					 html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"; 
        				  }
        				  if(html!=""){
        					  $('.warehouseId').attr("disabled",false);
        					  $('.warehouseId').html(html);
        					  form.render('select');
        				  }else{
        					  $('.warehouseId').attr("disabled",true);
        					  $('.warehouseId').html("");
        					  form.render('select');
        				  }
        			  }
        		});
        	});
        	form.on('select(warehouseId)', function (data) {
      		var html = "";
      	    urls = initurl + "?warehouseId=" + data.value;
      		Ext.Ajax.request({
      			  url : urls,
      			  success : function(response) {
      				  var data = jQuery.parseJSON(request.responseText);
  				  	  data = data.data;
      				  for(var i = 0; i < data.length; i++){
      					 html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"; 
      				  }
      				  if(html!=""){
      					  $('.shelfId').attr("disabled",false);
      					  $('.shelfId').html(html);
      					  form.render('select');
      				  }else{
      					  $('.shelfId').attr("disabled",true);
      					  $('.shelfId').html("");
      					  form.render('select');
      				  }
      			  }
      		});
      	});
			//监听checkbox
			form.on('switch(LotMangFlag)', function(data) {
				console.log(data.elem.checked);
				if (data.elem.checked) {
					document.getElementById("lotMangFlag").value = "0";
				} else {
					document.getElementById("lotMangFlag").value = "1";
				}
			});
			form.on('switch(DeleteFlag)', function(data) {
				console.log(data.elem.checked);
				if (data.elem.checked) {
					document.getElementById("deleteFlag").value = "0";
				} else {
					document.getElementById("deleteFlag").value = "1";
				}
			});
			form.on('submit(updateMaterial)', function(data) {
				AjaxHttpRequest("/updateMaterial", data.field);
				return false;
			});
		});
	</script>
</body>

</html>