<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.GoodsDao">

    <select id="findAll" resultType="com.sparksys.common.entity.Goods">
        select
        id,
        pro_no as proNo,
        name as name,
        color as color,
        image_url as imageUrl,
        buy_prize as buyPrize,
        sale_prize as salePrize
        from tb_product
        order by id desc
    </select>

    <select id="findByName" parameterType="map" resultType="com.sparksys.common.entity.Goods">
        select
        tp.id,
        tp.pro_no as proNo,
        tp.name as name,
        tp.color as color,
        tp.image_url as imageUrl,
        tp.buy_prize as buyPrize,
        tp.sale_prize as salePrize,
        ts.stock
        from tb_product tp
        LEFT join tb_stock ts on tp.id=ts.pro_id
        where 1=1
        <if test="name != null and name !=''">
            and tp.name LIKE "%"#{name}"%"
        </if>
        order by tp.id desc
    </select>

    <select id="findVegetablesCount" parameterType="map" resultType="int">
        select
        count(1)
        from tb_product
        where 1=1
        <if test="name != null and name !=''">
            and name LIKE "%"#{name}"%"
        </if>
    </select>

    <insert id="saveGoods" parameterType="com.sparksys.common.entity.Goods" useGeneratedKeys="true" keyProperty="id">
        insert into tb_product
        (
        name,
        pro_no,
        color,
        buy_prize,
        sale_prize,
        create_time,
        update_time)
        values (
         #{name},
        #{proNo},
        #{color},
        #{buyPrize},
        #{salePrize},
        now(),
        now()
        )
    </insert>


    <select id="findById" parameterType="int" resultType="com.sparksys.common.entity.Goods">
        select
        tp.id,
        tp.pro_no as proNo,
        tp.name as name,
        tp.color as color,
        tp.image_url as imageUrl,
        tp.buy_prize as buyPrize,
        tp.sale_prize as salePrize,
        ts.stock
        from tb_product tp
         LEFT join tb_stock ts on tp.id=ts.pro_id
        where tp.id=#{id}
    </select>

    <update id="updateGoods" parameterType="com.sparksys.common.entity.Goods">
        update tb_product
        set name = #{name,jdbcType=VARCHAR},
        pro_no = #{proNo,jdbcType=VARCHAR},
        color = #{color,jdbcType=VARCHAR},
        buy_prize = #{buyPrize},
        sale_prize = #{salePrize},
        update_time=now()
        where id = #{id}
    </update>

    <update id="deleteGoods" parameterType="int">
       delete from tb_product
        where id = #{id}
    </update>

</mapper>