<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.MstD007ReqPriceHDao">
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from mst_d007_req_price_h
    where reqp_uid = #{reqpUid,jdbcType=BIGINT}
  </delete>
  <insert id="insertMstD007ReqPriceH" parameterType="com.sparksys.common.entity.MstD007ReqPriceH">
    insert into mst_d007_req_price_h 
		    (reqp_uid,
		    cd_time,
		    eff_month_from, 
		    eff_month_to,
		    stop_flag,
		    up_time, 
		    cd_person,
		    material_id,
		    up_person, 
		    reqp_name)
    values (#{reqpUid,jdbcType=BIGINT},
    		NOW(),
    		#{effMonthFrom,jdbcType=TIMESTAMP}, 
      		#{effMonthTo,jdbcType=TIMESTAMP},
      		#{stopFlag,jdbcType=BIGINT},
      		NOW(),
     		#{cdPerson,jdbcType=BIGINT},
      		#{materialId,jdbcType=BIGINT},
      		#{upPerson,jdbcType=BIGINT}, 
      		#{reqpName,jdbcType=VARCHAR})
  </insert>
  <update id="updateMstD007ReqPriceH" parameterType="com.sparksys.common.entity.MstD007ReqPriceH">
    update mst_d007_req_price_h
    set eff_month_from = #{effMonthFrom,jdbcType=TIMESTAMP},
      	eff_month_to = #{effMonthTo,jdbcType=TIMESTAMP},
      	stop_flag = #{stopFlag,jdbcType=BIGINT},
      	up_time = NOW(),
      	material_id = #{materialId,jdbcType=BIGINT},
      	up_person = #{upPerson,jdbcType=BIGINT},
      	reqp_name = #{reqpName,jdbcType=VARCHAR}
    where reqp_uid = #{reqpUid,jdbcType=BIGINT}
  </update>
    <select id="findById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.MstD007ReqPriceH">
    select 
		mst_d007.reqp_uid reqpUid,
		mst_d007.cd_time cdTime,
		mst_d007.eff_month_from effMonthFrom,
		mst_d007.eff_month_to effMonthTo,
		mst_d007.stop_flag stopFlag,
		mst_d007.up_time upTime,
		mst_d007.cd_person cdPerson,
		mst_d007.material_id materialId, 
		mst_d007.up_person upPerson,
		mst_d002.material_name materialName,
		mst_d002.color color,
		mst_d002.capacity capacity,
		mst_d007.reqp_name reqpName
    from mst_d007_req_price_h mst_d007
    left join mst_d002_material mst_d002 on mst_d002.material_id=mst_d007.material_id
   	where mst_d007.reqp_uid = #{reqpUid,jdbcType=BIGINT}
  </select>
  <select id="findMstD007ReqPriceHList" parameterType="map" resultType="com.sparksys.common.entity.MstD007ReqPriceH">
    select 
		mst_d007.reqp_uid reqpUid,
		mst_d007.cd_time cdTime,
		mst_d007.eff_month_from effMonthFrom,
		mst_d007.eff_month_to effMonthTo,
		mst_d007.stop_flag stopFlag,
		mst_d007.up_time upTime,
		mst_d007.cd_person cdPerson,
		mst_d007.material_id materialId, 
		mst_d007.up_person upPerson,
		mst_d002.material_name materialName,
		mst_d002.color color,
		mst_d002.capacity capacity,
		mst_d007.reqp_name reqpName
    from mst_d007_req_price_h mst_d007
    left join mst_d002_material mst_d002 on mst_d002.material_id=mst_d007.material_id
    where 1=1
    <if test="reqpName != null and reqpName !=''">
      and mst_d007.reqp_name = #{reqpName,jdbcType=VARCHAR}
    </if>
    <if test="effMonthFrom != null and effMonthFrom !=''">
      and date_format(mst_d007.eff_month_from, 'YYYY-MM-DD')&gt;=date_format(#{effMonthFrom,jdbcType=VARCHAR}, 'YYYY-MM-DD')
    </if>
    <if test="effMonthTo != null and effMonthTo !=''">
      and date_format(mst_d007.eff_month_to, 'YYYY-MM-DD')&lt;=date_format(#{effMonthTo,jdbcType=VARCHAR}, 'YYYY-MM-DD')
    </if>
    order by mst_d007.reqp_uid asc
  </select>
  <select id="findMstD007ReqPriceHListCount" parameterType="map" resultType="int">
    select 
		count(1)
    from mst_d007_req_price_h mst_d007
    left join mst_d002_material mst_d002 on mst_d002.material_id=mst_d007.material_id
    where 1=1
    <if test="reqpName != null and reqpName !=''">
      and mst_d007.reqp_name = #{reqpName,jdbcType=VARCHAR}
    </if>
    <if test="effMonthFrom != null and effMonthFrom !=''">
      and date_format(mst_d007.eff_month_from, 'YYYY-MM-DD')&gt;=date_format(#{effMonthFrom,jdbcType=VARCHAR}, 'YYYY-MM-DD')
    </if>
    <if test="effMonthTo != null and effMonthTo !=''">
      and date_format(mst_d007.eff_month_to, 'YYYY-MM-DD')&lt;=date_format(#{effMonthTo,jdbcType=VARCHAR}, 'YYYY-MM-DD')
    </if>
  </select>
</mapper>