<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.MstD002MaterialDao">
  <select id="findById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.MstD002Material">
    select 
	    mst_d002.material_id materialId,
	    mst_d002.capacity capacity,
	    mst_d002.cd_time cdTime,
	    mst_d002.color color,
	    mst_d002.color_flag colorFlag,
	    mst_d002.delete_flag deleteFlag,
	    mst_d002.en_name enName,
	    mst_d002.length_unit lengthUnit,
	    mst_d002.lot_mang_flag lotMangFlag,
	    mst_d002.material_name materialName,
	    mst_d002.material_size materialSize,
	    mst_d002.print_no_tax printNoTax,
	    mst_d002.size_flag sizeFlag,
	    mst_d002.spec_length specLength, 
	    mst_d002.spec_width specWidth,
	    mst_d002.unit_code unitCode,
	    mst_d002.up_time upTime,
	    mst_d002.weight weight,
	    mst_d002.width_unit widthUnit,
	    mst_d002.cd_person cdPerson,
	    mst_d002.shelf_id shelfId,
	    mst_d002.up_person upPerson,
		mst_d004.shelf_name shelfName,
	    mst_d003.warehouse_name warehouseName,
	    mst_d001.plant_name plantName,
	    mst_d005.owner_name ownerName
    from mst_d002_material mst_d002
	left join mst_d004_shelf mst_d004 on mst_d004.shelf_id=mst_d002.shelf_id
	left join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
	left join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
	left join mst_d005_owner mst_d005 on mst_d001.owner_uid = mst_d005.owner_uid
    where material_id = #{materialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from mst_d002_material
    where material_id = #{materialId,jdbcType=BIGINT}
  </delete>
  <insert id="insertMstD002Material" parameterType="com.sparksys.common.entity.MstD002Material">
    insert into mst_d002_material 
			(material_id,
			capacity,
			cd_time, 
			color,
			color_flag,
			delete_flag, 
			en_name,
			length_unit,
			lot_mang_flag, 
			material_name,
			material_size,
			print_no_tax, 
			size_flag,
			spec_length,
			spec_width, 
			unit_code,
			up_time,
			weight, 
			width_unit,
			cd_person,
			shelf_id, 
			up_person)
    values (#{materialId,jdbcType=BIGINT},
			#{capacity,jdbcType=REAL},
			NOW(), 
			#{color,jdbcType=VARCHAR},
			#{colorFlag,jdbcType=VARCHAR},
			#{deleteFlag,jdbcType=BIGINT}, 
			#{enName,jdbcType=VARCHAR},
			#{lengthUnit,jdbcType=VARCHAR},
			#{lotMangFlag,jdbcType=BIGINT},
			#{materialName,jdbcType=VARCHAR},
			#{materialSize,jdbcType=VARCHAR},
			#{printNoTax,jdbcType=REAL},
			#{sizeFlag,jdbcType=VARCHAR},
			#{specLength,jdbcType=VARCHAR},
			#{specWidth,jdbcType=VARCHAR},
			#{unitCode,jdbcType=VARCHAR},
			NOW(),
			#{weight,jdbcType=VARCHAR},
			#{widthUnit,jdbcType=VARCHAR},
			#{cdPerson,jdbcType=BIGINT},
			#{shelfId,jdbcType=BIGINT}, 
			#{upPerson,jdbcType=BIGINT})
  </insert>
  <update id="updateMstD002Material" parameterType="com.sparksys.common.entity.MstD002Material">
    update mst_d002_material
    set capacity = #{capacity,jdbcType=REAL},
      	color = #{color,jdbcType=VARCHAR},
      	color_flag = #{colorFlag,jdbcType=VARCHAR},
      	delete_flag = #{deleteFlag,jdbcType=BIGINT},
      	en_name = #{enName,jdbcType=VARCHAR},
      	length_unit = #{lengthUnit,jdbcType=VARCHAR},
      	lot_mang_flag = #{lotMangFlag,jdbcType=BIGINT},
      	material_name = #{materialName,jdbcType=VARCHAR},
      	material_size = #{materialSize,jdbcType=VARCHAR},
      	print_no_tax = #{printNoTax,jdbcType=REAL},
      	size_flag = #{sizeFlag,jdbcType=VARCHAR},
      	spec_length = #{specLength,jdbcType=VARCHAR},
      	spec_width = #{specWidth,jdbcType=VARCHAR},
      	unit_code = #{unitCode,jdbcType=VARCHAR},
      	up_time = NOW(),
      	weight = #{weight,jdbcType=VARCHAR},
      	width_unit = #{widthUnit,jdbcType=VARCHAR},
      	shelf_id = #{shelfId,jdbcType=BIGINT},
      	up_person = #{upPerson,jdbcType=BIGINT}
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
  <select id="findMstD002MaterialList" parameterType="map" resultType="com.sparksys.common.entity.MstD002Material">
    select 
	    mst_d002.material_id materialId,
	    mst_d002.capacity capacity,
	    mst_d002.cd_time cdTime,
	    mst_d002.color color,
	    mst_d002.color_flag colorFlag,
	    mst_d002.delete_flag deleteFlag,
	    mst_d002.en_name enName,
	    mst_d002.length_unit lengthUnit,
	    mst_d002.lot_mang_flag lotMangFlag,
	    mst_d002.material_name materialName,
	    mst_d002.material_size materialSize,
	    mst_d002.print_no_tax printNoTax,
	    mst_d002.size_flag sizeFlag,
	    mst_d002.spec_length specLength, 
	    mst_d002.spec_width specWidth,
	    mst_d002.unit_code unitCode,
	    mst_d002.up_time upTime,
	    mst_d002.weight weight,
	    mst_d002.width_unit widthUnit,
	    mst_d002.cd_person cdPerson,
	    mst_d002.shelf_id shelfId,
	    mst_d002.up_person upPerson,
		mst_d004.shelf_name shelfName,
	    mst_d003.warehouse_name warehouseName,
	    mst_d001.plant_name plantName,
	    mst_d005.owner_name ownerName
    from mst_d002_material mst_d002
	left join mst_d004_shelf mst_d004 on mst_d004.shelf_id=mst_d002.shelf_id
	left join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
	left join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
	left join mst_d005_owner mst_d005 on mst_d001.owner_uid = mst_d005.owner_uid
    where 1=1
    <if test="materialName != null and materialName !=''">
      and mst_d002.material_name = #{materialName,jdbcType=VARCHAR}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d001.plant_code = #{plantCode,jdbcType=BIGINT}
    </if>
    <if test="locationCode != null and locationCode !=''">
      and mst_d003.location_code = #{locationCode,jdbcType=BIGINT}
    </if>
    <if test="shelfId != null and shelfId !=''">
      and mst_d004.shelf_id = #{shelfId,jdbcType=BIGINT}
    </if>
    order by mst_d002.material_id asc
  </select>
  <select id="findMstD002MaterialListCount" parameterType="map" resultType="int">
    select 
	    count(1) 
    from mst_d002_material mst_d002
	left join mst_d004_shelf mst_d004 on mst_d004.shelf_id=mst_d002.shelf_id
	left join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
	left join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
	where 1=1
	<if test="materialName != null and materialName !=''">
      and mst_d002.material_name = #{materialName,jdbcType=VARCHAR}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d001.plant_code = #{plantCode,jdbcType=BIGINT}
    </if>
    <if test="locationCode != null and locationCode !=''">
      and mst_d003.location_code = #{locationCode,jdbcType=BIGINT}
    </if>
    <if test="shelfId != null and shelfId !=''">
      and mst_d004.shelf_id = #{shelfId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>