<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.OrderInfoDao">

    <select id="findByName" parameterType="map" resultType="com.sparksys.common.entity.Order">
        SELECT t.shop_name shopName,GROUP_CONCAT(t.vegetables_name,t.number,t.unit) remark from t_order t
        where date(t.create_time) = curdate()
        <if test="shopName != null and shopName !=''">
            and shop_name LIKE "%"#{shopName}"%"
        </if>
        GROUP BY t.shop_id
        order by id asc
    </select>

    <select id="findByOrderId" parameterType="map" resultType="com.sparksys.common.entity.OrderInfo">
        SELECT t.id,t.vegetables_id vegetablesId,t.vegetables_name vegetablesName,t.unit,t.number,
        t.order_id orderId
         from tb_order_info t
        where order_id=#{orderId}
    </select>


    <select id="findOrderCount" parameterType="map" resultType="int">
        SELECT COUNT(1) from
        (SELECT t.shop_name,GROUP_CONCAT(t.vegetables_name,t.number,t.unit) remark from tb_order t
        where date(t.create_time) = curdate()
        <if test="shopName != null and shopName !=''">
            and shop_name LIKE "%"#{shopName}"%"
        </if>
        GROUP BY t.shop_id)t1
    </select>

    <insert id="saveOrderInfo" parameterType="com.sparksys.common.entity.Shop">
        insert into tb_order_info
        (
        order_id,
        goods_id,
        goods_name,
        price,
        amount,
        total_price,
        create_time,
        update_time)
        values (
         #{orderId},
        #{goodsId},
        #{goodsName},
        #{salePrice},
        #{amount},
        #{totalPrice},
        NOW(),
        NOW())
    </insert>

    <delete id="deleteByOrderId" parameterType="int">
        delete from tb_order_info
        where order_id = #{orderId}
    </delete>


</mapper>