<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.OrderDao">

    <resultMap id="ResultMap" type="com.sparksys.common.entity.Order">
        <id property="id" column="id"/>
        <result property="shopName" column="shopName"/>
        <result property="timeDesc" column="timeDesc"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPay" column="isPay"/>
        <collection property="orderInfo" ofType="com.sparksys.common.entity.OrderInfo">
            <id property="id" column="tid"/>
            <result property="goodsName" column="goodsName"/>
            <result property="amount" column="amount"/>
            <result property="salePrice" column="price"/>
        </collection>

    </resultMap>

    <select id="findByName" parameterType="map" resultMap="ResultMap">
        SELECT t.id,
        t.shop_name shopName,
        t.time_desc timeDesc,
        t.is_pay isPay,
        t.total_price totalPrice,
        ti.id tid,
        ti.goods_name goodsName,
        ti.amount,
        ti.price
        from tb_order t left JOIN
        tb_order_info ti on t.id=ti.order_id
        where 1=1
        <if test="shopName != null and shopName !=''">
            and shop_name LIKE "%"#{shopName}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and time_desc= #{timeDesc}
        </if>
        order by t.id desc
    </select>

    <select id="findOrderCount" parameterType="map" resultType="int">
        SELECT COUNT(1) from
        (SELECT t.shop_name shopName,GROUP_CONCAT(ti.goods_name,ti.amount) remakr from tb_order t JOIN
        tb_order_info ti on t.id=ti.order_id
        where 1=1
        <if test="shopName != null and shopName !=''">
            and shop_name LIKE "%"#{shopName}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and time_desc= #{timeDesc}
        </if>
        GROUP BY ti.order_id)t1
    </select>

    <insert id="saveOrder" parameterType="com.sparksys.common.entity.Order" useGeneratedKeys="true" keyProperty="id">
        insert into tb_order
        (
        shop_id,
        shop_name,
        total_price,
        is_pay,
        remark,
        time_desc,
        create_time,
        update_time)
        values (
         #{shopId},
        #{shopName},
        #{totalPrice},
        #{isPay},
        #{remark},
        #{timeDesc},
        NOW(),
        NOW())
    </insert>

    <update id="updateOrder" parameterType="com.sparksys.common.entity.Order">
        update tb_order
        set
        is_pay = #{isPay},
        remark=#{remark},
        total_price=#{totalPrice},
        time_desc=#{timeDesc},
        update_time=now()
        where id = #{id}
    </update>

    <select id="findById" parameterType="int" resultType="com.sparksys.common.entity.Order">
        select
        id,
        shop_id shopId,
        shop_name shopName,
        is_pay isPay,
        total_price totalPrice,
        remark,
        time_desc timeDesc
        from tb_order
        where id=#{id}
        limit 1
    </select>

    <select id="findByShopId" parameterType="int" resultType="com.sparksys.common.entity.Order">
        select
        sum(total_price) totalPrice
        from tb_order
        where shop_id=#{id}
        and is_pay=false
    </select>



    <delete id="deleteById" parameterType="int">
        delete from tb_order
        where id = #{orderId}
    </delete>


</mapper>