<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.ShopDao">

    <select id="findAll"  resultType="com.sparksys.common.entity.Shop">
        select
        *
        from t_shop
        where 1=1
        order by id desc
    </select>

    <select id="findByName" parameterType="map" resultType="com.sparksys.common.entity.Shop">
        select
        *
        from t_shop
        where 1=1
        <if test="name != null and name !=''">
            and name LIKE "%"#{name}"%"
        </if>

        order by id desc
    </select>

    <select id="findShopCount" parameterType="map" resultType="int">
        select
        count(1)
        from t_shop
        where 1=1
        <if test="name != null and name !=''">
            and name LIKE "%"#{name}"%"
        </if>
    </select>

    <insert id="saveShop" parameterType="com.sparksys.common.entity.Shop">
        insert into t_shop
        (
        name,
        address)
        values (
         #{name},
        #{address})
    </insert>


    <select id="findById" parameterType="int" resultType="com.sparksys.common.entity.Shop">
        select
        *
        from t_shop
        where id=#{id}
    </select>

    <update id="updateShop" parameterType="com.sparksys.common.entity.Shop">
        update t_shop
        set name = #{name,jdbcType=VARCHAR},
        address = #{address}
        where id = #{id}
    </update>

    <update id="deleteShop" parameterType="int">
       delete from t_shop
        where id = #{id}
    </update>

</mapper>