<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.SsensorDeviceDao">
  
  <select id="findById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SSensorDevice">
    select 
	    ssd.deviceid deviceid,
	    ssd.delete_flag deleteFlag,
	    ssd.devicename devicename,
	    ssd.deviceno deviceno,
	    ssd.deviceproperty deviceproperty,
	    ssd.devicetype devicetype,
	    ssd.shelf_id shelfId,
	    mst_d001.plant_name plantName,
	    mst_d003.warehouse_name warehouseName,
	    mst_d004.shelf_name shelfName,
	    mst_b006.type_name devicetypeName
    from s_sensor_device ssd
    inner join mst_b006_type mst_b006 on mst_b006.type_id = ssd.devicetype
    inner join mst_d004_shelf mst_d004 on mst_d004.shelf_id = ssd.shelf_id
    inner join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
    inner join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
    where ssd.deviceid = #{deviceid,jdbcType=BIGINT}
  </select>
  
  <select id="findListByLocationCode" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SSensorDevice">
    select 
	    ssd.deviceid deviceid,
	    ssd.delete_flag deleteFlag,
	    ssd.devicename devicename,
	    ssd.deviceno deviceno,
	    ssd.deviceproperty deviceproperty,
	    ssd.devicetype devicetype,
	    ssd.shelf_id shelfId,
	    mst_d001.plant_name plantName,
	    mst_d003.warehouse_name warehouseName,
	    mst_d004.shelf_name shelfName,
	    mst_b006.type_name devicetypeName
    from s_sensor_device ssd
    inner join mst_b006_type mst_b006 on mst_b006.type_id = ssd.devicetype
    inner join mst_d004_shelf mst_d004 on mst_d004.shelf_id = ssd.shelf_id
    inner join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
    inner join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
    where mst_d003.location_code = #{deviceid,jdbcType=BIGINT}
  </select>
  
  <select id="findSsensorDeviceList" parameterType="map" resultType="com.sparksys.common.entity.SSensorDevice">
    select 
	    ssd.deviceid deviceid,
	    ssd.delete_flag deleteFlag,
	    ssd.devicename devicename,
	    ssd.deviceno deviceno,
	    ssd.deviceproperty deviceproperty,
	    ssd.devicetype devicetype,
	    ssd.shelf_id shelfId,
	    mst_d001.plant_name plantName,
	    mst_d003.warehouse_name warehouseName,
	    mst_d004.shelf_name shelfName,
	    mst_b006.type_name devicetypeName
    from s_sensor_device ssd
    inner join mst_b006_type mst_b006 on mst_b006.type_id = ssd.devicetype
    inner join mst_d004_shelf mst_d004 on mst_d004.shelf_id = ssd.shelf_id
    inner join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
    inner join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
    where 1=1
    <if test="devicename != null and devicename !=''">
      and ssd.devicename = #{devicename,jdbcType=VARCHAR}
    </if>
    <if test="deviceno != null and deviceno !=''">
      and ssd.deviceno = #{deviceno,jdbcType=VARCHAR}
    </if>
    <if test="locationCode != null and locationCode !=''">
      and mst_d003.location_code = #{locationCode,jdbcType=VARCHAR}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d003.plant_code = #{plantCode,jdbcType=VARCHAR}
    </if>
    <if test="shelfId != null and shelfId !=''">
      and ssd.shelf_id = #{shelfId,jdbcType=VARCHAR}
    </if>
	order by ssd.deviceid asc
  </select>
  
  <select id="findSsensorDeviceListCount" parameterType="map" resultType="int" >
    select 
	    count(1) totalCount
    from s_sensor_device ssd
    inner join mst_b006_type mst_b006 on mst_b006.type_id = ssd.devicetype
    inner join mst_d004_shelf mst_d004 on mst_d004.shelf_id = ssd.shelf_id
    inner join mst_d003_warehouse mst_d003 on mst_d003.location_code = mst_d004.location_code
    inner join mst_d001_plant mst_d001 on mst_d001.plant_code = mst_d003.plant_code
    where 1=1
    <if test="devicename != null and devicename !=''">
      and ssd.devicename = #{devicename,jdbcType=VARCHAR}
    </if>
    <if test="deviceno != null and deviceno !=''">
      and ssd.deviceno = #{deviceno,jdbcType=VARCHAR}
    </if>
    <if test="locationCode != null and locationCode !=''">
      and mst_d003.location_code = #{locationCode,jdbcType=VARCHAR}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d003.plant_code = #{plantCode,jdbcType=VARCHAR}
    </if>
    <if test="shelfId != null and shelfId !=''">
      and ssd.shelf_id = #{shelfId,jdbcType=VARCHAR}
    </if>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from s_sensor_device
    where deviceid = #{deviceid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSsensorDevice" parameterType="com.sparksys.common.entity.SSensorDevice">
    insert into s_sensor_device 
			(deviceid,
			cd_time,
			delete_flag,
			devicename,
			deviceno,
			deviceproperty,
			up_time,
			cd_person,
			devicetype, 
			shelf_id,
			up_person)
    values (#{deviceid,jdbcType=BIGINT},
			NOW(),
			#{deleteFlag,jdbcType=BIGINT},
			#{devicename,jdbcType=VARCHAR},
			#{deviceno,jdbcType=VARCHAR},
			#{deviceproperty,jdbcType=VARCHAR},
			NOW(),
			#{cdPerson,jdbcType=BIGINT},
			#{devicetype,jdbcType=BIGINT},
			#{shelfId,jdbcType=BIGINT},
			#{upPerson,jdbcType=BIGINT})
  </insert>
  <update id="updateSsensorDevice" parameterType="com.sparksys.common.entity.SSensorDevice">
    update s_sensor_device
    set delete_flag = #{deleteFlag,jdbcType=BIGINT},
		devicename = #{devicename,jdbcType=VARCHAR},
		deviceno = #{deviceno,jdbcType=VARCHAR},
		deviceproperty = #{deviceproperty,jdbcType=VARCHAR},
		up_time = NOW(),
		devicetype = #{devicetype,jdbcType=BIGINT},
		shelf_id = #{shelfId,jdbcType=BIGINT},
		up_person = #{upPerson,jdbcType=BIGINT}
    where deviceid = #{deviceid,jdbcType=BIGINT}
  </update>
</mapper>