<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.SysPermissionDao">
  
  <select id="findSysPermissionById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysPermission">
    select 
    	permission_id permissionId,
		permission_code permissionCode,
		permission_name permissionName,
		permission_url permissionUrl,
		parent_id parentId,
		delete_flag deleteFlag
    from sys_permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <!-- 权限查询父权限 -->
  <select id="findParentPermissionList"  resultType="com.sparksys.common.entity.SysPermission">
    select 
    	permission_id permissionId,
		permission_code permissionCode,
		permission_name permissionName,
		permission_url permissionUrl,
		parent_id parentId,
		delete_flag deleteFlag
    from sys_permission
    where parent_id = 0 and permission_id!=0 order by permission_code asc
  </select>
  <!-- 权限查询子权限 -->
  <select id="findNodePermissiontList" resultType="com.sparksys.common.entity.SysPermission">
	select
		permission_id permissionId,
		permission_code permissionCode,
		permission_name permissionName,
		permission_url permissionUrl,
		parent_id parentId,
		delete_flag deleteFlag
	from
		sys_permission
	where
		parent_id != 0
		AND permission_id != 0
	order BY permission_code asc
  </select>
  <!-- 菜单查询父菜单 -->
  <select id="findMenuParentList"  resultType="com.sparksys.common.entity.SysPermission">
    select 
    	permission_id permissionId,
		permission_code permissionCode,
		permission_name permissionName,
		permission_url permissionUrl,
		parent_id parentId,
		delete_flag deleteFlag
    from sys_permission
    where delete_flag=0 and parent_id = 0 and permission_id!=0 order by permission_code asc
  </select>
  <!-- 菜单查询子菜单 -->
  <select id="findMenuNodeList" resultType="com.sparksys.common.entity.SysPermission">
	select
		permission_id permissionId,
		permission_code permissionCode,
		permission_name permissionName,
		permission_url permissionUrl,
		parent_id parentId,
		delete_flag deleteFlag
	from
		sys_permission
	where
		delete_flag=0
		and parent_id != 0
		and permission_id != 0
	order BY permission_code asc
  </select>
  <select id="findysPermissionCount" resultType="int">
    select 
    count(1) totalCount
    from sys_permission
    where 1=1
  </select>
  
  <select id="findUserPermissions"  parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysPermission">
    select 
    	distinct(sp.permission_id) permissionId,
		sp.permission_code permissionCode,
		sp.permission_name permissionName,
		sp.permission_url permissionUrl,
		sp.parent_id parentId,
		sp.delete_flag deleteFlag
	from sys_permission sp
	inner join role_permission rp 
		ON sp.permission_id = rp.permission_id
	inner join user_role ur 
		ON ur.role_id = rp.role_id
	where ur.user_id = #{userId,jdbcType=BIGINT}
	order BY sp.permission_code asc
  </select>
  
  
  <select id="findRolePermissionList" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysPermission">
    select 
    	sp.permission_id permissionId,
		sp.permission_code permissionCode,
		sp.permission_name permissionName,
		sp.permission_url permissionUrl,
		sp.parent_id parentId,
		sp.delete_flag deleteFlag
	from sys_permission sp
	inner join role_permission rp ON sp.permission_id = rp.permission_id
	where rp.role_id = #{roleId,jdbcType=BIGINT}
	order BY sp.permission_code asc
  </select>

	<select id="findMenuParentList2" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysPermission">
		SELECT
	sp.permission_id permissionId,
	sp.permission_code permissionCode,
	sp.permission_name permissionName,
	sp.permission_url permissionUrl,
	sp.parent_id parentId,
	sp.delete_flag deleteFlag
	FROM
	sys_permission sp
	JOIN role_permission rp ON sp.permission_id = rp.permission_id
	JOIN user_role ur ON ur.role_id = rp.role_id
	WHERE
	sp.delete_flag = 0
	AND sp.parent_id = 0
	AND sp.permission_id != 0
	AND ur.user_id = #{userId}
	ORDER BY
	sp.permission_code ASC

	</select>

  <select id="findRolePermissionIdList" parameterType="java.lang.Long" resultType="java.lang.String">
    select rp.permission_id permissionId
	from role_permission rp
	where rp.role_id = #{roleId,jdbcType=BIGINT}
	order BY rp.permission_id asc
  </select>
  
  <delete id="deleteSysPermissionById" parameterType="java.lang.Long">
    delete from sys_permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSysPermission" parameterType="com.sparksys.common.entity.SysPermission">
    insert into sys_permission (
	    permission_id,
	    permission_code,
	    permission_name, 
	    permission_url,
	    parent_id,
	    delete_flag)
    values (#{permissionId,jdbcType=BIGINT},
		   	#{permissionCode,jdbcType=VARCHAR},
		   	#{permissionName,jdbcType=VARCHAR}, 
		    #{permissionUrl,jdbcType=VARCHAR},
		    #{parentId,jdbcType=BIGINT},
		    #{deleteFlag,jdbcType=BIGINT})
  </insert>

  <update id="updateSysPermission" parameterType="com.sparksys.common.entity.SysPermission">
    update sys_permission
    set permission_code = #{permissionCode,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=BIGINT}
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
</mapper>