<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.SysRoleDao">
  
  <select id="findSysRoleById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysRole">
    select
		sr.role_id roleId,
		sr.available available,
		sr.cd_time cdTime,
		sr.role_code roleCode,
		sr.role_name roleName,
		sr.up_time upTime,
		cd_su.display_name cdName,
		up_su.display_name upName
		FROM sys_role sr
	INNER JOIN sys_user cd_su ON sr.cd_person = cd_su.user_id
	INNER JOIN sys_user up_su ON sr.up_person = up_su.user_id
	where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  
  <select id="findSysRoleList" parameterType="map" resultType="com.sparksys.common.entity.SysRole">
    select
		sr.role_id roleId,
		sr.available available,
		sr.cd_time cdTime,
		sr.role_code roleCode,
		sr.role_name roleName,
		sr.up_time upTime,
		cd_su.display_name cdPerson,
		up_su.display_name upPerson
		FROM sys_role sr
	inner join sys_user cd_su ON sr.cd_person = cd_su.user_id
	inner join sys_user up_su ON sr.up_person = up_su.user_id
    where 1=1 
    <if test="roleName != null and roleName !=''">
      and sr.role_name = #{roleName,jdbcType=VARCHAR}
    </if>
    <if test="available != null and available !=''">
      and sr.available = #{available,jdbcType=BIGINT}
    </if>
    order by role_id asc
  </select>
  
  <select id="findSysRoleCount" resultType="int">
    select count(1) totalCount from sys_role sr where 1=1
    <if test="roleName != null and roleName !=''">
      and sr.role_name = #{roleName,jdbcType=VARCHAR}
    </if>
    <if test="available != null and available !=''">
      and sr.available = #{available,jdbcType=BIGINT}
    </if>
  </select>
   <!-- 删除角色-->
  <delete id="deleteSysRoleById" parameterType="java.lang.Long">
    delete from sys_role
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
   <!-- 保存角色-->
  <insert id="insertSysRole" parameterType="com.sparksys.common.entity.SysRole">
    insert into sys_role 
    	(role_id,
    	available,
    	cd_time,
      	role_code,
      	role_name,
      	up_time, 
      	cd_person,
      	up_person)
    values 
    	(#{roleId,jdbcType=BIGINT},
    	#{available,jdbcType=BIGINT},
    	NOW(),
      	#{roleCode,jdbcType=VARCHAR},
      	#{roleName,jdbcType=VARCHAR},
      	NOW(),
      	#{userId,jdbcType=BIGINT},
      	#{userId,jdbcType=BIGINT})
  </insert>
  <!-- 更新角色-->
  <update id="updateSysRole" parameterType="com.sparksys.common.entity.SysRole">
    update sys_role
    	set available = #{available,jdbcType=BIGINT},
      		role_code = #{roleCode,jdbcType=VARCHAR},
      		role_name = #{roleName,jdbcType=VARCHAR},
      		up_time = NOW(),
      		up_person = #{userId,jdbcType=BIGINT}
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <!-- 保存用户角色 -->
  <insert id="saveUserRole" parameterType="map">
    insert into user_role (role_id,user_id) values(#{roleId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT}) 
  </insert>
  <!-- 删除用户角色 -->
  <delete id="deleteUserRole" parameterType="map">
    delete from user_role
    where role_id = #{roleId,jdbcType=BIGINT} and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <!-- 保存角色权限 -->
  <insert id="saveRolePermission" parameterType="map">
    insert into role_permission (role_id,permission_id) values(#{roleId,jdbcType=BIGINT},#{permissionId,jdbcType=BIGINT}) 
  </insert>
  <!-- 删除角色权限 -->
  <delete id="deleteRolePermission" parameterType="map">
    delete from role_permission
    where role_id = #{roleId,jdbcType=BIGINT} and permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <!-- 根据用户id查询用户所拥有的角色 -->
  <select id="findUserRoles" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.SysRole">
    select 
    	sr.role_id roleId,
		sr.available available,
		sr.cd_time cdTime,
		sr.role_code roleCode,
		sr.role_name roleName,
		sr.up_time upTime
    from sys_role sr 
    inner join user_role ur on sr.role_id=ur.role_id
    where ur.user_id = #{userId,jdbcType=BIGINT} order by sr.role_id asc
  </select>
  
</mapper>