<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource.html">
</head>
<script type="text/javascript">
Ext.onReady(function(){
	queryTemperatureInfoList();
});
</script>
<body>
	<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 20px;">
		<legend>温度监测</legend>
	</fieldset>
	<div class="main-contain">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">温度监测查询</div>
					<div class="layui-card-body">
						<div class="layui-form">
							<div class="layui-form-item">
				                <label class="layui-form-label">所属仓库</label>
					            <div class="layui-input-inline">
					                <select name="locationCode" id="locationCode">
					                 	<option th:each="warehouse : ${warehouseList}" th:value="${warehouse.locationCode}" th:text="${warehouse.warehouseName}"></option>
                                    </select>
					            </div>
								<button class="layui-btn" style="margin-left: 20px;"
									onclick="queryTemperatureInfoList();">
									<i class="layui-icon">&#xe615;</i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">查询结果</div>
					<div class="layui-card-body" style="height: 520px;overflow-y: auto">
						<ul id="temperatureSensorDevice" style="width: 100%">
						</ul>
						<div id="tempChartDiv" style="display:none;overflow: hidden">
							<div style="width:100%;" id="tempChart"></div>
							<input type="hidden" id="warning_tempChart" value="0"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
