<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.BuyDao">


    <select id="findByName" parameterType="map" resultType="com.sparksys.common.entity.Buy">
        SELECT ti.vegetables_name name,GROUP_CONCAT(t.shop_name,ti.number,ti.unit) detail,SUM(ti.number) count from t_order t JOIN t_order_info ti on t.id=ti.order_id
        where 1=1
        <if test="name != null and name !=''">
            and ti.vegetables_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and time_desc= #{timeDesc}
        </if>
        GROUP BY ti.vegetables_id

    </select>


    <select id="findBuyCount" parameterType="map" resultType="int">
 SELECT COUNT(1) from
        (SELECT ti.vegetables_name name,GROUP_CONCAT(t.shop_name,ti.number,ti.unit) detail,SUM(ti.number) count from t_order t JOIN t_order_info ti on t.id=ti.order_id
        where 1=1
        <if test="name != null and name !=''">
            and ti.vegetables_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and time_desc= #{timeDesc}
        </if>
        GROUP BY ti.vegetables_id

        )t1

    </select>

    <select id="findAccountByName" parameterType="map" resultType="com.sparksys.common.entity.Account">
        SELECT
        ti.vegetables_name NAME,
        tv.prize prize,
        GROUP_CONCAT( t.shop_name, ti.number, ti.unit ) detail,
        SUM( ti.number ) count ,
        SUM(tv.prize*ti.number) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv on ti.vegetables_id=tv.id
        where 1=1
        <if test="name != null and name !=''">
            and ti.vegetables_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY ti.vegetables_id

    </select>

    <select id="findAllAccountByName" parameterType="map" resultType="com.sparksys.common.entity.Account">
        SELECT
        ti.vegetables_name NAME,
        tv.prize prize,
        GROUP_CONCAT( t.shop_name, ti.number, ti.unit ) detail,
        SUM( ti.number ) count ,
        SUM(tv.prize*ti.number) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv on ti.vegetables_id=tv.id
        where 1=1
        <if test="name != null and name !=''">
            and ti.vegetables_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY ti.vegetables_id

    </select>



    <select id="findAccountCount" parameterType="map" resultType="int">
        SELECT COUNT(1) from
        ( SELECT
        ti.vegetables_name NAME,
        tv.prize prize,
        GROUP_CONCAT( t.shop_name, ti.number, ti.unit ) detail,
        SUM( ti.number ) count ,
        SUM(tv.prize*ti.number) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv on ti.vegetables_id=tv.id
        where 1=1
        <if test="name != null and name !=''">
            and t.shop_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY ti.vegetables_id

        )t1

    </select>

    <select id="findAccountShopByName" parameterType="map" resultType="com.sparksys.common.entity.Account">
        SELECT
        t.shop_name NAME,
        GROUP_CONCAT( ti.vegetables_name, ti.number, ti.unit ) detail,
        SUM( tv.prize * ti.number ) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv ON ti.vegetables_id = tv.id
        where 1=1
        <if test="name != null and name !=''">
            and t.shop_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY t.id

    </select>


    <select id="findAllAccountShopByName" parameterType="map" resultType="com.sparksys.common.entity.Account">
        SELECT
        t.shop_name NAME,
        GROUP_CONCAT( ti.vegetables_name, ti.number, ti.unit ) detail,
        SUM( tv.prize * ti.number ) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv ON ti.vegetables_id = tv.id
        where 1=1
        <if test="name != null and name !=''">
            and t.shop_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY t.id

    </select>

    <select id="findAccountShopCount" parameterType="map" resultType="int">
        SELECT COUNT(1) from
        ( SELECT
        t.shop_name NAME,
        GROUP_CONCAT( ti.vegetables_name, ti.number, ti.unit ) detail,
        SUM( tv.prize * ti.number ) totalPrize
        FROM
        t_order t
        JOIN t_order_info ti ON t.id = ti.order_id
        JOIN t_vegetables tv ON ti.vegetables_id = tv.id
        where 1=1
        <if test="name != null and name !=''">
            and ti.vegetables_name LIKE "%"#{name}"%"
        </if>
        <if test="timeDesc != null and timeDesc !=''">
            and t.time_desc= #{timeDesc}
        </if>
        GROUP BY t.id

        )t1

    </select>

</mapper>