<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.MstD003WarehouseDao">
  <select id="findById" parameterType="java.lang.Long" resultType="com.sparksys.common.entity.MstD003Warehouse">
    select 
	    mst_d003.location_code locationCode,
	    mst_d003.cd_time cdTime,
	    mst_d003.enable_flag enableFlag,
	    mst_d003.postcode postcode,
	    mst_d003.shelf_left_num shelfLeftNum,
	    mst_d003.shelf_mang shelfMang,
	    mst_d003.shelf_num shelfNum, 
	    mst_d003.up_time upTime,
	    mst_d003.warehouse_address warehouseAddress,
	    mst_d003.warehouse_area warehouseArea,
	    mst_d003.warehouse_code warehouseCode,
	    mst_d003.warehouse_name warehouseName,
	    mst_d003.warehouse_owner warehouseOwner, 
	    mst_d003.warehouse_tel_no warehouseTelNo,
	    mst_d003.plant_code plantCode,
	    mst_d001.plant_name plantName,
	    mst_d003.cd_person cdPerson,
	    mst_d003.up_person upPerson,
	    cd_su.display_name cdName,
		up_su.display_name upName
    from mst_d003_warehouse mst_d003
    inner join sys_user cd_su on mst_d003.cd_person = cd_su.user_id
	inner join sys_user up_su on mst_d003.up_person = up_su.user_id
	left join mst_d001_plant mst_d001 on mst_d001.plant_code=mst_d003.plant_code
    where mst_d003.location_code = #{locationCode,jdbcType=BIGINT}
  </select>
  <select id="findMstD003WarehouseList"  parameterType="map" resultType="com.sparksys.common.entity.MstD003Warehouse">
    select 
	    mst_d003.location_code locationCode,
	    mst_d003.cd_time cdTime,
	    mst_d003.enable_flag enableFlag,
	    mst_d003.postcode postcode,
	    mst_d003.shelf_left_num shelfLeftNum,
	    mst_d003.shelf_mang shelfMang,
	    mst_d003.shelf_num shelfNum, 
	    mst_d003.up_time upTime,
	    mst_d003.warehouse_address warehouseAddress,
	    mst_d003.warehouse_area warehouseArea,
	    mst_d003.warehouse_code warehouseCode,
	    mst_d003.warehouse_name warehouseName,
	    mst_d003.warehouse_owner warehouseOwner, 
	    mst_d003.warehouse_tel_no warehouseTelNo,
	    mst_d003.plant_code plantCode,
	    mst_d001.plant_name plantName,
	    mst_d003.cd_person cdPerson,
	    mst_d003.up_person upPerson,
	    cd_su.display_name cdName,
		up_su.display_name upName
    from mst_d003_warehouse mst_d003
    inner join sys_user cd_su on mst_d003.cd_person = cd_su.user_id
	inner join sys_user up_su on mst_d003.up_person = up_su.user_id
	left join mst_d001_plant mst_d001 on mst_d001.plant_code=mst_d003.plant_code
    where 1=1
    <if test="warehouseCode != null and warehouseCode !=''">
      and mst_d003.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
    </if>
    <if test="warehouseName != null and warehouseName !=''">
      and mst_d003.warehouse_name = #{warehouseName,jdbcType=VARCHAR}
    </if>
    <if test="warehouseOwner != null and warehouseOwner !=''">
      and mst_d003.warehouse_owner = #{warehouseOwner,jdbcType=VARCHAR}
    </if>
    <if test="shelfMang != null and shelfMang !=''">
      and mst_d003.shelf_mang = #{shelfMang,jdbcType=BIGINT}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d003.plant_code = #{plantCode,jdbcType=BIGINT}
    </if>
    order by mst_d003.location_code asc
  </select>
  <select id="findMstD003WarehouseListCount"  parameterType="map" resultType="int">
    select 
    count(1) totalCount
    from mst_d003_warehouse mst_d003
    inner join sys_user cd_su on mst_d003.cd_person = cd_su.user_id
	inner join sys_user up_su on mst_d003.up_person = up_su.user_id
	left join mst_d001_plant mst_d001 on mst_d001.plant_code=mst_d003.plant_code
	where 1=1
   <if test="warehouseCode != null and warehouseCode !=''">
      and mst_d003.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
    </if>
    <if test="warehouseName != null and warehouseName !=''">
      and mst_d003.warehouse_name = #{warehouseName,jdbcType=VARCHAR}
    </if>
    <if test="warehouseOwner != null and warehouseOwner !=''">
      and mst_d003.warehouse_owner = #{warehouseOwner,jdbcType=VARCHAR}
    </if>
    <if test="shelfMang != null and shelfMang !=''">
      and mst_d003.shelf_mang = #{shelfMang,jdbcType=BIGINT}
    </if>
    <if test="plantCode != null and plantCode !=''">
      and mst_d003.plant_code = #{plantCode,jdbcType=BIGINT}
    </if>
  </select>
  <select id="findListByPlantCode"  parameterType="java.lang.Long" resultType="com.sparksys.common.entity.MstD003Warehouse">
    select 
	    mst_d003.location_code locationCode,
	    mst_d003.cd_time cdTime,
	    mst_d003.enable_flag enableFlag,
	    mst_d003.postcode postcode,
	    mst_d003.shelf_left_num shelfLeftNum,
	    mst_d003.shelf_mang shelfMang,
	    mst_d003.shelf_num shelfNum, 
	    mst_d003.up_time upTime,
	    mst_d003.warehouse_address warehouseAddress,
	    mst_d003.warehouse_area warehouseArea,
	    mst_d003.warehouse_code warehouseCode,
	    mst_d003.warehouse_name warehouseName,
	    mst_d003.warehouse_owner warehouseOwner, 
	    mst_d003.warehouse_tel_no warehouseTelNo,
	    mst_d003.plant_code plantCode,
	    mst_d001.plant_name plantName,
	    mst_d003.cd_person cdPerson,
	    mst_d003.up_person upPerson,
	    cd_su.display_name cdName,
		up_su.display_name upName
    from mst_d003_warehouse mst_d003
    inner join sys_user cd_su on mst_d003.cd_person = cd_su.user_id
	inner join sys_user up_su on mst_d003.up_person = up_su.user_id
	left join mst_d001_plant mst_d001 on mst_d001.plant_code=mst_d003.plant_code
    where mst_d003.plant_code = #{plantCode,jdbcType=BIGINT}
    order by mst_d003.location_code asc
  </select>
  
  <select id="findMapByShelfId" parameterType="java.lang.Long" resultType="map">
    select 
	    mst_d003.warehouse_name warehouseName,
	    mst_d001.plant_name plantName
    from mst_d003_warehouse mst_d003
	left join mst_d001_plant mst_d001 on mst_d001.plant_code=mst_d003.plant_code
	inner join mst_d004_shelf mst_d004 on mst_d003.location_code = mst_d004.location_code
    where mst_d004.shelf_id = #{shelfId,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from mst_d003_warehouse
    where location_code = #{locationCode,jdbcType=BIGINT}
  </delete>
  <insert id="insertMstD003Warehouse" parameterType="com.sparksys.common.entity.MstD003Warehouse">
    insert into mst_d003_warehouse
			(location_code,
			cd_time,
			enable_flag,
			postcode,
			shelf_left_num,
			shelf_mang,
			shelf_num,
			up_time,
			warehouse_address, 
			warehouse_area,
			warehouse_code,
			warehouse_name, 
			warehouse_owner,
			warehouse_tel_no,
			cd_person, 
			plant_code,
			up_person)
    values (#{locationCode,jdbcType=BIGINT}, 
			NOW(),
			#{enableFlag,jdbcType=BIGINT},
			#{postcode,jdbcType=VARCHAR},
			#{shelfLeftNum,jdbcType=BIGINT},
			#{shelfMang,jdbcType=BIGINT},
			#{shelfNum,jdbcType=BIGINT},
			NOW(),
			#{warehouseAddress,jdbcType=VARCHAR},
			#{warehouseArea,jdbcType=VARCHAR},
			#{warehouseCode,jdbcType=VARCHAR},
			#{warehouseName,jdbcType=VARCHAR}, 
			#{warehouseOwner,jdbcType=VARCHAR},
			#{warehouseTelNo,jdbcType=VARCHAR},
			#{cdPerson,jdbcType=BIGINT},
			#{plantCode,jdbcType=BIGINT},
			#{upPerson,jdbcType=BIGINT})
  </insert>
  <update id="updateMstD003Warehouse" parameterType="com.sparksys.common.entity.MstD003Warehouse">
    update mst_d003_warehouse
    set enable_flag = #{enableFlag,jdbcType=BIGINT},
      	postcode = #{postcode,jdbcType=VARCHAR},
      	shelf_left_num = #{shelfLeftNum,jdbcType=BIGINT},
      	shelf_mang = #{shelfMang,jdbcType=BIGINT},
      	shelf_num = #{shelfNum,jdbcType=BIGINT},
      	up_time = NOW(),
      	warehouse_address = #{warehouseAddress,jdbcType=VARCHAR},
      	warehouse_area = #{warehouseArea,jdbcType=VARCHAR},
      	warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      	warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      	warehouse_owner = #{warehouseOwner,jdbcType=VARCHAR},
      	warehouse_tel_no = #{warehouseTelNo,jdbcType=VARCHAR},
      	plant_code = #{plantCode,jdbcType=BIGINT},
      	up_person = #{upPerson,jdbcType=BIGINT}
    where location_code = #{locationCode,jdbcType=BIGINT}
  </update>
</mapper>