<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.common.dao.SysPermissionInitDao">
  <resultMap id="BaseResultMap" type="com.sparksys.common.entity.SysPermissionInit">
    <id column="permission_init_id" jdbcType="BIGINT" property="permissionInitId" />
    <result column="permission_init_code" jdbcType="VARCHAR" property="permissionInitCode" />
    <result column="permission_init_sort" jdbcType="BIGINT" property="permissionInitSort" />
    <result column="permission_init_url" jdbcType="VARCHAR" property="permissionInitUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_init_id, permission_init_code, permission_init_sort, permission_init_url
  </sql>
  <select id="findSysPermissionInitList" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from sys_permission_init
  where 1=1
  </select>
</mapper>