<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource1.html">
</head>
  <body>
  <input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
    <div class="x-body layui-anim" >
        <form class="layui-form layui-form-pane">
        	<table style="width: 100%">
				<tr height="50px;">
					<td>
					<label class="layui-form-label">商品名称</label>
						<div class="layui-input-inline" >
							<input type="text" id="materialName" name="materialName" th:value="${material.materialName}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
					<label class="layui-form-label">英文名称</label>
						<div class="layui-input-inline" >
							<input type="text" id="enName" name="enName" th:value="${material.enName}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">所属货架</label>
						<div class="layui-input-inline" >
						<input type="text" th:value="${material.shelfName}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">单位</label>
						<div class="layui-input-inline" >
							<input type="text" id="unitCode" name="unitCode" th:value="${material.unitCode}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">容量</label>
						<div class="layui-input-inline" >
							<input type="text" id="capacity" name="capacity" th:value="${material.capacity}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">颜色</label>
						<div class="layui-input-inline" >
							<input type="text" id="color" name="color" th:value="${material.color}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">尺寸</label>
						<div class="layui-input-inline" >
							<input type="text" id="materialSize" name="materialSize" th:value="${material.materialSize}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">颜色标识</label>
						<div class="layui-input-inline" >
							<input type="text" id="colorFlag" name="colorFlag" th:value="${material.colorFlag}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">尺寸标识</label>
						<div class="layui-input-inline" >
							<input type="text" id="sizeFlag" name="sizeFlag" th:value="${material.sizeFlag}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">定价（不含税:元）</label>
						<div class="layui-input-inline" >
							<input type="text" id="printNoTax" name="printNoTax" th:value="${material.printNoTax}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">规格宽度</label>
						<div class="layui-input-inline" >
							<input type="text" id="specWidth" name="specWidth" th:value="${material.specWidth}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">宽度单位</label>
						<div class="layui-input-inline" >
							<input type="text" id="widthUnit" name="widthUnit" th:value="${material.widthUnit}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">规格长度</label>
						<div class="layui-input-inline" >
							<input type="text" id="specLength" name="specLength" th:value="${material.specLength}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
					<td>
						<label class="layui-form-label">长度单位</label>
						<div class="layui-input-inline" >
							<input type="text" id="lengthUnit" name="lengthUnit" th:value="${material.lengthUnit}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">重量</label>
						<div class="layui-input-inline" >
							<input type="text" id="weight" name="weight" th:value="${material.weight}" class="layui-input layui-elip layui-disabled">
						</div>
					</td>
										<td>
						<label class="layui-form-label">批次管理</label>
						<div class="layui-input-inline">
							<input type="checkbox" lay-text="启用|停用" disabled="disabled" th:checked="${material.lotMangFlag}==0" lay-skin="switch" class="layui-input">
						</div>
					</td>
				</tr>
				<tr height="50px;">
					<td>
						<label class="layui-form-label">是否过期</label>
						<div class="layui-input-inline">
							<input type="checkbox" disabled="disabled" th:checked="${material.deleteFlag}==0" lay-text="否|是"  lay-skin="switch" class="layui-input">
						</div>
					</td>
				</tr>
			</table>
      </form>
    </div>
    <script type="text/javascript">
	    layui.use('table', function(){
			  var table = layui.table;
			});
    </script>
  </body>
</html>